{% extends "layout_it6.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it6/ucl/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it6/ucl/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Autumn first half-term: enabling pupil learning</h1>

    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m"><strong>Module introduction</strong></h2>
    <p>CONTENT TO BE UPDATED. Before you start this module, please read the overview</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">



    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 1: foundations of a positive climate for learning</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 2: routines</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 3: establishing high behavioural expectations</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>You don’t have any self-study materials this week, but there will be a meeting with your mentor to discuss this topic.</p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0"><strong>Week 4: maintaining high behavioural expectations</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 5: a supportive & inclusive learning environment</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>You don’t have any self-study materials this week, but there will be a meeting with your mentor to discuss this topic.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0"><strong>Week 6: putting it into practice</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>This week features a self-study element, however there will be no structured session with your mentor</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 7: reflection on learning</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">




    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>End of module reflection</strong></h2>
<p>CONTENT TO BE UPDATED. At the end of this module, you should reflect on what you have learnt</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<p><a href="#">Work through the self-study material (XX minutes)</a></p>
</div>
<div class="govuk-grid-column-one-quarter">
<p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
</div>
</div>







{% endblock %}
