<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-!-margin-bottom-2">Joe Bloggs</p>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Early Career Framework
    </h1>
    <nav class="app-navigation govuk-clearfix govuk-!-margin-bottom-4">
      <ul class="app-navigation__list app-width-container">

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/ect-dashboard-first-half-term" data-topnav="Home">Home</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/ect-self-study-all-content" data-topnav="Self Study Material">Self Study Material</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#" data-topnav="Assignments/Mentor sessions">Mentor</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
