<nav class="year-navigation govuk-clearfix govuk-!-margin-bottom-4">
  <div class="govuk-width-container {{mainClasses}} govuk-grid-row">
    <ul class="year-navigation__list app-width-container">

      <li class="year-navigation__list-item year-navigation__list-item--current">
        <span class="app-navigation__link">Year 1</span>
      </li>

      <li class="year-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/dev/tf/module-list-year2" data-topnav="Year2">Year 2</a>
      </li>

    </ul>
  </div>
</nav>
