{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it2/add-teachers">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <h1 class="govuk-heading-xl">Confirm details for Corfe Hills School</h1>





      <h3 class="govuk-heading-m">Chosen materials</h3>

      <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Provider</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">



      <td class="govuk-table__cell">{{ data['material'] }}</td>

      <td class="govuk-summary-list__actions govuk-!-margin-2">
    <a href="/nqt1/it2/add-teachers" class="govuk-!-right-margin-5">
       Change
    </a>
  </td
    </tr>



  </tbody>
</table>

<hr class="govuk-section-break govuk-section-break--l">

<h3 class="govuk-heading-m">Teacher details</h3>

      <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email address</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>


  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">



      <td class="govuk-table__cell">{{ data['full-name-extra'] }}</td>
      <td class="govuk-table__cell">{{ data['email-address-extra'] }}</td>
      <td class="govuk-summary-list__actions govuk-!-width-one-quarter">
    <a href="/nqt1/it2/delete" class="govuk-!-margin-5">
       Delete
    </a>
    <a href="/nqt1/it2/add-teachers" class="govuk-!-right-margin-5">
       Change
    </a>
  </td
    </tr>



  </tbody>
</table>











      <p><a href="/nqt1/it2/add-teachers-extra">Add another teacher</a></p>

        <hr class="govuk-section-break govuk-section-break--l">



      <form action="/nqt1/it2/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>

      </form>

    </div>

{% endblock %}
