{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it2/add-teachers">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width-from-desktop">

      <h1 class="govuk-heading-xl">Confirm details for Corfe Hills School</h1>





      <h3 class="govuk-heading-m">Study materials</h3>

      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['material'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change <span class="govuk-visually-hidden">provider</span>
      </a>
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m">Study materials</h3>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Teacher 1
  </dt>
<dd class="govuk-summary-list__value">
  <div>{{ data['full-name'] }}</div>
  <div>{{ data['email-address'] }}</div>
</dd>
<dd class="govuk-summary-list__actions govuk-!-margin-2">
<a href="/nqt1/it1/delete" class="govuk-!-margin-5">
 Delete
</a>
<a href="/nqt1/it1/add-teachers" class="govuk-!-right-margin-5">
 Change
</a>
</dd>
</div>
</dl>


<h3 class="govuk-heading-m">Teacher details</h3>

      <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email address</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>


  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">



      <td class="govuk-table__cell">{{ data['full-name'] }}</td>
      <td class="govuk-table__cell">{{ data['email-address'] }}</td>
      <td class="govuk-summary-list__actions govuk-!-margin-2">
    <a href="/nqt1/it2/delete" class="govuk-!-margin-5">
       Delete
    </a>
    <a href="/nqt1/it2/add-teachers" class="govuk-!-right-margin-5">
       Change
    </a>
  </td
    </tr>



  </tbody>
</table>











      <p><a href="/nqt1/it2/add-teachers-extra">Add another teacher</a></p>

        <hr class="govuk-section-break govuk-section-break--l">



      <form action="/nqt1/it2/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>

      </form>

    </div>

{% endblock %}
