
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Email subject: Confirmation</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Hello,</p>

<p>The following teachers from Corfe Hills School's 2020 cohort can now access their support materials:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Harry Potter</li>
  <li>Hermione Granger</li>

</ul>


<p>If you need to change any details, email <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk. </a></p>

<p>Thanks,</p>

<p><strong>Teacher Continuing Professional Development</strong><br>
Department for Education</p>






    </div>
  </div>

{% endblock %}
