
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">

      <h1 class="govuk-heading-xl ">
        Context setting
      </h1>

      <p>Does your school employ any newly qualified teachers (NQTs) whose training or induction was disrupted by the pandemic?</p>

        <p>All state-funded schools with NQTs who were due to complete their induction this summer are eligible for a payment of up to £1,500 per teacher to devote extra time to their development.</p>

<p>The payment should be used to cover a further 5% of time off-timetable support for the 2020 to 2021 NQTs cohort over the next academic year.</p>

<p>NQTs outside London will each attract payments of £1,200, rising to £1,300 in the ‘fringe area’ around London, £1,400 in Outer London and £1,500 in Inner London.</p>

<p>Payments will be made in the summer term of 2022 to ensure they are as accurate as possible and to avoid issues around teachers having moved schools. We will let you know how to apply for the payments at a later date.</p>

<p>Your school will still be eligible for the cash if you employ NQTs who move following their induction.</p>





      <form action="/nqt1/it2/manage" method="post" novalidate>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>


  </div>
{% endblock %}
