{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it2/choose">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-6"><span class="govuk-caption-xl">Corfe Hills Middle School </span>Manage your training</h1>

<div style="background-color:#F3F2F1;">
<div class="govuk-inset-text">
      <h3 class="govuk-heading-s">Materials for your 2020 cohort</h3>

      <p>This year, you can also access DfE accredited materials for teachers in your 2020 cohort who have had their induction disrupted.</p>

      <p>You should have received an email, if not you can <a href="/nqt1/it2/email">request one is sent to you</a></p>
    </div>
    </div>


<p><a href="#">Add your early career teacher and mentor details</a></p>





        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cohort year
            </dt>
            <dd class="govuk-summary-list__value">
              2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">cohort year</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Programme
            </dt>
            <dd class="govuk-summary-list__value">
              DfE accredited materials
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> programme</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Materials
            </dt>
            <dd class="govuk-summary-list__value">
              Ambition Institute
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> materials</span>
              </a>
            </dd>
          </div>

        </dl>






    </div>

</div>












</div>
</div>












{% endblock %}
