{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it2/choose">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-6"><span class="govuk-caption-xl">Corfe Hills Middle School </span>Manage your training</h1>




<p><a href="#">Add your early career teacher and mentor details</a></p>





        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cohort year
            </dt>
            <dd class="govuk-summary-list__value">
              2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">cohort year</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Programme
            </dt>
            <dd class="govuk-summary-list__value">
              DfE accredited materials
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> programme</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Materials
            </dt>
            <dd class="govuk-summary-list__value">
              Ambition Institute
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> materials</span>
              </a>
            </dd>
          </div>

        </dl>









      <div style="background-color:#F3F2F1;">
      <div class="govuk-inset-text">
            <p>Have NQTs from your school’s 2020 cohort had their induction disrupted because of the COVID-19 pandemic?</p>


            <p>They can now use our accredited support materials to help them develop their skills and knowledge.  </p>
              <p>We just need you to <a href="/nqt1/it2/choose">choose the materials you’d like to use (there are 4 options), and the names and email addresses</a> of the teachers so we can set everything up for them.</p>


          </div>
          </div>
      </div>















</div>
</div>












{% endblock %}
