{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it2/choose">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Choose study materials for your 2020 cohort</h1>




    <p>Some overall framing content.</p>








    <h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Ambition Institute</strong></h2>

    <p>Some copy about ambition</p>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Ambition Institute's modules
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
    <li>Module 1 - setting high expectations</li>
    <li>Module 2 - promoting good progress</li>
    <li>Module 3 - managing behaviour</li>
    <li>Module 4 - fulfilling wider professional responsibilities</li>
    </ul>
  </div>
</details>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Education Development Trust</strong></h2>

<p>Some copy about ambition</p>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
  Education Development Trust's modules
</span>
</summary>
<div class="govuk-details__text">
<ul class="govuk-list govuk-list--bullet">
<li>standard 1 - setting high expectations</li>
<li>standard 2 - promoting good progress</li>
<li>standard 7 - managing behaviour</li>
<li>standard 8 - fulfilling wider professional responsibilities</li>
</ul>
</div>
</details>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Teach First</strong></h2>

<p>Some copy about ambition</p>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
  Teach First's modules
</span>
</summary>
<div class="govuk-details__text">
<ul class="govuk-list govuk-list--bullet">
<li>standard 1 - setting high expectations</li>
<li>standard 2 - promoting good progress</li>
<li>standard 7 - managing behaviour</li>
<li>standard 8 - fulfilling wider professional responsibilities</li>
</ul>
</div>
</details>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>UCL Early Career Teacher Consortium</strong></h2>

<p>Some copy about UCL</p>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
UCL Early Career Teacher Consortium's modules
</span>
</summary>
<div class="govuk-details__text">
<ul class="govuk-list govuk-list--bullet">
<li>standard 1 - setting high expectations</li>
<li>standard 2 - promoting good progress</li>
<li>standard 7 - managing behaviour</li>
<li>standard 8 - fulfilling wider professional responsibilities</li>
</ul>
</div>
</details>



</div>
</div>












{% endblock %}
