{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/your-teachers">Your teachers</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/abi">Abi's progress</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">First half-term: enabling pupil learning</h1>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What do the self study status colours mean?
    </span>
  </summary>
  <div class="govuk-details__text">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third"><strong class="govuk-tag govuk-tag--green style=float: left">complete</strong></td>
          <td class="govuk-table__cell">The teacher has completed the topic</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow style=float: left">In progress</strong></td>
          <td class="govuk-table__cell">The teacher has said they need more time on this topic</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style=float: left"">To do</strong></td>
          <td class="govuk-table__cell">The teacher is either in the early stages of doing this topic or has not yet started it</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>


<h3 class="govuk-heading-m">Week 1 - Establishing effective routines</h3>
<p class="govuk-!-margin-bottom-4">This topic will help teachers demonstrate they're meeting teachers'<br> standards 4 (planning and teaching well structure lessons)</p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">



<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Abi to work through self study material</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
      <td class="govuk-table__cell">Updated: 10/10/20</td>
      <td class="govuk-table__cell">Abi to update</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
      <td class="govuk-table__cell">Updated: 12/10/20</td>
      <td class="govuk-table__cell"><a href="/it3/mentor-time">Update progress</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Has Abi achieved their goal set for this week?</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
      <td class="govuk-table__cell">Updated: 20/10/20</td>
      <td class="govuk-table__cell"><a href="#">Update progress</a></td>
    </tr>
  </tbody>
</table>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Week 2 - Understanding teachers as role models</h3>
    <p>This topic will help teachers demonstrate they're meeting teachers' standards 1 (setting high expectations which inspire, motivate and challenge pupils)</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Abi to work through their self study material</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
          <td class="govuk-table__cell">Updated: 17/10/20</td>
          <td class="govuk-table__cell">Abi to update</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
          <td class="govuk-table__cell">Updated: 20/10/20</td>
          <td class="govuk-table__cell"><a href="/it3/mentor-time">Update progress</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
          <td class="govuk-table__cell">Updated: 21/10/20</td>
          <td class="govuk-table__cell"><a href="/it3/goal">Update progress</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-top-4">Week 3 - Establishing the learning environment</h3>
        <p>This topic will help teachers demonstrate they're meeting teachers'<br> standard 4 (planning and teaching well structure lessons)</p>
      </div>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Abi to work through their self study material</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
          <td class="govuk-table__cell">Updated: 23/10/20</td>
          <td class="govuk-table__cell">Abi to update</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
          <td class="govuk-table__cell">Updated: 24/10/20</td>
          <td class="govuk-table__cell"><a href="#">Update progress</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
          <td class="govuk-table__cell">Updated: 24/10/20</td>
          <td class="govuk-table__cell"><a href="#">Update progress</a></td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-top-4">Week 4 - Managing behaviour</h3>
        <p>This topic will help teachers demonstrate they're meeting teachers' <br>standard 2 (promote good progress and outcomes by pupils)</p>
      </div>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Abi to work through their self study material</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
          <td class="govuk-table__cell">Updated: 26/10/20</td>
          <td class="govuk-table__cell">Abi to update</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
          <td class="govuk-table__cell">Updated: 30/10/20</td>
          <td class="govuk-table__cell"><a href="/it3/mentor-time">Update progress</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
          <td class="govuk-table__cell">Updated: 04/11/20</td>
          <td class="govuk-table__cell"><a href="/it3/goal">Update progress</a></td>
        </tr>
      </tbody>
    </table>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-top-4">Week 5 - Exploring yourself as a role model/observation</h3>
            <p>This topic will help teachers demonstrate they're meeting teachers' <br>standard 1 (setting high expectations which inspire, motivate and challenge pupils)</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-top-4">Week 6 - Holding high expectations and maintaining engagement</h3>
            <p>This topic will help teachers demonstrate they're meeting teachers' <br>standard 5 (adapt teaching to respond to the strengths and needs of all pupils)</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>


















  </div>
</div>

{% endblock %}
