{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}



<h2 class="govuk-heading-l govuk-!-margin-top-4">Which CIP (project team use)</h2>

<p><a href="/dev/ambition/home">Ambition</a> (first time user - includes speedbump)</p>

<p><a href="/dev/edt/home">EDT</a></p>

<p><a href="/dev/tf/home">Teach First</a></p>

<p><a href="/dev/ucl/home">UCL</a></p>
{% endblock %}
