
{% extends "layout_it4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <br>

<h1 class="govuk-heading-xl">Guidance about training and support during your induction</h1>

<p>Your induction includes a 2-year programme of structured training and support to help you get your teaching career off to the best possible start.
The programme has been developed by teachers, school leaders, education experts and the Department for Education.
You will work closely with a mentor to enhance your skills, giving you all the tools you need to thrive in your new role.
We don’t want this training to impinge on your personal life, so you’ll spend 10% of your working week away from the classroom in the first year, and 5% in the second year.

The training is built around sequenced modules covering themes closely related to the teachers’ standards that you will already be familiar with. We recommend you follow the order we’ve set them in where possible, but we’ve designed it to be flexible so you switch things around if needed.

The modules are generally broken down into weekly sessions during term time where you should:

<ul class="govuk-list govuk-list--bullet">
  <li>
    do around 45 minutes of self-study
  </li>
  <li>
    have a meeting with your mentor to reflect on the latest session, discuss any issues or concerns, and decide what actions you want to take going forward
  </li>
</ul>

<p>We also expect your mentor to do a brief lesson observation each week to see how you are putting into practice what you have learnt.

We encourage you to keep reflections and feedback throughout the programme, not only so you can refer back to them, but also to use as evidence of your progress during performance reviews.</p>

<a href="/dev/home" class="govuk-button">Continue to homepage</a>

</div>
</div>

{% endblock %}
