{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Autumn first half-term: enabling pupil learning</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m"><strong>Week 1: module audit</strong></h2>
      </div>
    </div>
    <p>During your first week of a module, you and your mentor will take a look at the topics being covered, establish your level of confidence and agree areas to focus on.</p>


    <h2 class="govuk-heading-m govuk-!-margin-top-6"><strong>Week 2: understanding teachers as role models</strong></h2>
    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 3: establishing the learning environment</strong></h2>
    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/dev/lesson-part1">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 4: supporting the most vulnerable pupils</strong></h2>
    <p>You don’t have any self-study materials this week, but there will be a meeting with your mentor to discuss this topic.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-6"><strong>Week 5: understanding pupils as learners</strong></h2>
    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 6: managing behaviour</strong></h2>
    <p>This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 7: exploring yourself as a role model</strong></h2>
    <p>You don’t have any self-study materials this week, but there will be a meeting with your mentor to discuss this topic. Your mentor should also see how you are putting what you’ve learnt into practice by watching you teach for 10 to 15 minutes.</p>
  </div>
</div>






{% endblock %}
