{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Your school has changed materials </h1>

    <p>Content to be added. Your school has decided to change from Education Development Trust to Teach First</p>

<p>The structure might look different, but the topics are very similar. Unfortunately you will have lost any recorded progress that you have made</p>


    <p>A list if you need it:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        bullet item
      </li>
      <li>bullet item</li>

    </ul>

    <a href="/cip-change/tf/module-list" class="govuk-button">Continue</a>

  </div>
</div>

{% endblock %}
