{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Your training and support programme has changed</h1>

    <p>Your school has changed your training and support programme from [PROVIDER X] to [PROVIDER Y].</p>

    <p>You can no longer access the materials you were previously using.</p>

    <p>Speak to your mentor for more information.</p>

    <a href="/cip-change/tf/guidance" class="govuk-button">Continue</a>

  </div>
</div>

{% endblock %}
