{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it3/choose">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
      </h2>
      <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#email-address">The email address {{ data['email-address'] }} has already been added</a>
        </li>
      </ul>
      </div>
      </div>


      <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-6">Add teachers from the 2020 to 2021 cohort</h1>



      <p class= "govuk-body govuk-!-margin-bottom-0">We will send them a link to access their support materials.</p>


<div class="govuk-width-container">

<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row ">
<div class="govuk-grid-column-two-thirds">

  <form class="form" action="/nqt1/it3/check" method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <label class="govuk-label" for="full-name">
              Full name
            </label>
            <input class="govuk-input govuk-!-width-full" id="full-name" name="full-name" type="text" autocomplete="full-name" value="{{ data['full-name'] }}"></div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="email-address">
            Email address
          </label>
          <div id="event-name-hint" class="govuk-hint">
              You can use their work or personal email address
            </div>
            <span id="name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>This email address has already been added</span>
          <input class="govuk-input govuk-!-width-full govuk-input--error" id="email-address" name="email-address" type="text" aria-describedby="email-error" autocomplete="email-address" value="{{ data['email-address'] }} "></div>


      </fieldset>
</div>


  <button class="govuk-button" data-module="govuk-button">Continue</button>

  </form>



</div>
</div>
</main>
</div>




{% endblock %}
