
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Support materials confirmation/p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Hello,</p>

<p>The following teachers from ((School Name)) can now access their support materials:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>{{ data['full-name'] }}</li>
  <li>{{ data['full-name-extra'] }}</li>

</ul>


<p>If you need to change any details, email <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk. </a></p>

<p>If needed you can also revisit guidance on <a href="/nqt1/it3/main">how the materials can be used and how the DfE will fund the support for NQTs</a></p>
<p>Thanks,</p>

<p><strong>Teacher Continuing Professional Development</strong><br>
Department for Education</p>






    </div>
  </div>

{% endblock %}
