{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-6">
        <h1 class="govuk-panel__title">Corfe Hills School's 2020 cohort can now access their support materials.</h1>

      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent the teacher(s) an email to access the service.</p>
      <p> If you want to change your materials to a different provider or want to add any teachers please contact our support team  <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p><a href="/nqt1/it3/confirm-email">View confirmation email</a></p>





    </div>
  </div>

{% endblock %}
