
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Extra support for teachers who had their statutory induction disrupted by the pandemic</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>Hello,</p>

      <p>Are there teachers at your school who missed out on having a normal statutory induction because of the pandemic?</p>

      <p>We are offering 2 things to help them during the next academic year:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>free online resources to develop their skills and knowledge</li>
        <li>a one-off payment to go towards giving them extra development time</li>
      </ul>

      <p>We appreciate it comes late in the day, but hope these can be added to existing plans for them.</p>

      <p></p>

      <h3 class="govuk-heading-m">How to get the optional resources</h3>

      <p>Schools can choose resources from one of 4 DfE-accredited providers:</p>

      <p><a href="https://ecf-engage-and-learn-prototype.herokuapp.com/nqt1/it3/main">https://ecf-engage-and-learn-prototype.herokuapp.com/nqt1/it3/main</a></p>

      <p>This link will only work for your school.</p>

      <p>If you have any questions, reply to this email.</p>

<p>Thanks,</p>

<p><strong>Teacher Continuing Professional Development</strong><br>
Department for Education</p>

<hr class="govuk-section-break govuk-section-break--m">


<p><a href="/nqt1/it3/signed-up">if school has already used link</a>



    </div>
  </div>

{% endblock %}
