
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Email subject: Extra support for NQTs who had their induction disrupted by the pandemic</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>Do you have NQTs from the 2020 to 2021 cohort who missed out on having a normal induction because of the pandemic?</p>
      <p>We are offering 2 things to help them during the next academic year:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>free online resources NQTs can use to develop their skills and knowledge </li>
        <li>a one-off payment to go towards giving NQTs extra development time </li>
      </ul>


<div class="govuk-inset-text">
<p>Use this link to find out more information and set up access for the NQTs:</p>

<p><a href="/nqt1/it3/start2">http://support-for-early-career-teachers.education.gov.uk/access-for-nqts</a></p>
</div>

<p>Do not share this link, it will only work for your school.</p>
<br>


<p>Thanks,</p>

<p><strong>Teacher Continuing Professional Development</strong><br>
Department for Education</p>

<hr class="govuk-section-break govuk-section-break--m">


<p><a href="/nqt1/it3/signed-up">if school has already used link</a>



    </div>
  </div>

{% endblock %}
