{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-top-8 govuk-!-margin-bottom-8">Choose support materials for 2020 cohort teachers</h1>




    <p>You can choose from 4 options. They all cover the same theory and practical classroom techniques aligned to the teachers’ standards. You should choose the one that best fits your school’s needs. </p>

<p>These materials were designed for early career teachers doing the new 2-year induction programme, so you might find this cohort has already covered some of the content. We therefore recommend focusing on development areas that were disrupted by the pandemic.</p>








    <h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Ambition Institute</strong></h2>

    <p>Modules are broken down into topics featuring:<p>
      <ul class="govuk-list govuk-list--bullet">
        <li>evidence summaries</li>
        <li>videos of experts talking through their insights and how these work in practice</li>
        <li>a quiz to check teachers have understood the evidence summary</li>
        <li>questions for teachers to discuss with their mentors</li>
        <li>evidence summaries</li>
      </ul>




<h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Education Development Trust</strong></h2>

<p>Modules are broken down into topics featuring:<p>
  <ul class="govuk-list govuk-list--bullet">
    <li>information to show how evidence supports education research and its implications on teaching</li>
    <li>practical ideas to try in the classroom</li>
    <li>methods teachers can use to reflect on their development and identify ways to improve</li>
  </ul>



<h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Teach First</strong></h2>

<p>Modules are broken down into topics featuring:<p>
  <ul class="govuk-list govuk-list--bullet">
    <li>video tutorials from education experts </li>
    <li>case studies</li>
    <li>questions they can then discuss with their mentor</li>
  </ul>


<h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>UCL Early Career Teacher Consortium</strong></h2>

<p>Modules are broken down into topics featuring:<p>
  <ul class="govuk-list govuk-list--bullet">
    <li>evidence from research</li>
    <li>practical skills to learn from case studies</li>
    <li>reflections on what they’ve learnt</li>
  </ul>

<p>If you’re still not sure, you can <a href="mailto:continuing-professional-development@digital.education.gov.uk">contact us</a> for more information.



</div>
</div>












{% endblock %}
