
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">

      <h1 class="govuk-heading-xl ">
        Choose resources and set up access for the NQTs
      </h1>


      <p>This offer is for state school teachers who either completed their induction in the 2020 to 2021 academic year or have not yet completed their induction. </p>

      <h3 class="govuk-heading-m ">
        Online resources to help fill knowledge and skills gaps during the next academic year
      </h3>

      <p>We are offering NQTs access throughout their second year of teaching to the same resources early career teachers (ECTs) use on the new 2-year induction programme.</p>

<p>These materials feature a wide range of theory and practical classroom techniques aligned to the teachers’ standards.</p>

<p>NQTs will only be able to use these resources for 3 terms. To get the best out of them they should:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>focus on development areas disrupted by the pandemic. There’s no need to try covering all the material</li>
  <li>dip in and out of them rather than following the prescribed week by week structure</li>
</ul>

<div class="govuk-inset-text">
<p>Note that mentor meetings and associated practical exercises featured in the resources only apply to ECTs doing the 2-year programme. </p>
</div>
ob
  <form action="/nqt1/it3/choose" method="post" novalidate>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg></a>

  </form>

<h3 class="govuk-heading-m">Additional time to invest in teacher development</h3>

<p>We want to help NQTs focus on development areas they missed out on during their first year of teaching.</p>

<p>With this in mind, we will give schools a one-off payment equivalent to a 5% (roughly 44 hours) timetable reduction per teacher over the next academic year. </p>

<p>NQTs from the 2020 to 2021 cohort will each attract payments of £1,200 if they teach outside London, rising to £1,300 in the ‘fringe area’ around London, £1,400 in Outer London and £1,500 in Inner London.</p>

<p>We will make the payment in the summer term of 2022. We will let you know how it will be processed at a later date.</p>

<p>Your school will still be eligible if you employ NQTs who move following their induction.</p>

    </div>


  </div>
{% endblock %}
