
{% extends "layout_it4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}
<div class="govuk-width-container {{mainClasses}} govuk-grid-row blue-background govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-third">
  <br>

<h1 class="govuk-heading-xl white-text govuk-!-margin-bottom-9 govuk-!-margin-top-3">Welcome Joe</h1>
<br>
<p class="white-text "><a href="#">Your mentor's role and responsibilities</a></p>
</div>
<p><a href="#">Edit name</a></p>
</div>
{% endblock %}



{% block content %}

<div class="govuk-notification-banner border-dark-blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__content">
    <p>
    To find out what training and support to expect during your induction, <a class="govuk-notification-banner__link" href="https://docs.google.com/document/d/1Jqa1hnH_LmJElE8bgyMpJ4NS61yen9MQPmebwgr4xf0/edit#">read our guidance</a>.
    </p>
  </div>
</div>
<h2 class="govuk-heading-l">Modules progress overview</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">1</h1>
      <p class="govuk-!-margin-bottom-1">Session done</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">0</h1>
      <p class="govuk-!-margin-bottom-1">Modules completed</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">8</h1>
      <p class="govuk-!-margin-bottom-1">Modules to complete</p>
    </div>
  </div>
</div>

<br>
<a href="/it3/module-list" class="govuk-button">Go to your module materials</a>

<h2 class="govuk-heading-l govuk-!-margin-top-4">Related content</h2>

<p><a href="#">How the teacher standards relate to the ECF</a></p>

<p><a href="#">Your mentor's role and responsibilities</a></p>

<p><a href="#">Get support with using the platform</a></p>

<p><a href="#">How the teacher standards relate to the ECF</a></p>





<br>

{% endblock %}
