
{% extends "layout_it4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it4/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>

  <br>

  {% include "includes/years.html" %}


    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Autumn term</strong></p>

        <p class="govuk-body"><a href="/it4/lesson-list"><strong>First half-term: enabling pupil learning</strong></a></p>
        <p>In this module you'll focus on how you set up your classroom as a learning environment. You'll be able to reflect on the different ways you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: engaging pupils in learning</strong></a></p>
  <p>In this module you'll look at the impact of pupils’ prior knowledge on their learning and how knowledge changes through the cooperation of working and long-term memory. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Spring term</strong></p>

  <p class="govuk-body"><a href="#"><strong>First half-term: developing quality pedagogy (part 1)</strong></a></p>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: developing quality pedagogy (part 2)</strong></a></p>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Summer term</strong></p>

  <p class="govuk-body"><a href="#"><strong>First half-term: developing quality pedagogy (part 3)</strong></a></p>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: making productive use of assessment</strong></a></p>
  <p>In this module you'll build on your existing knowledge of assessment principles.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  
</div>
</div>









{% endblock %}
