
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What would you like to be called?</h1>

      <form class="form" action="/it4/complete" method="post">

        <p>When adding your account your induction tutor would have needed to use your name that is registered on the DQT, if this is not the name you would prefer to be called, please add your preferred name below.</p>

        <div class="govuk-form-group">
  <label class="govuk-label" for="two-thirds">
    Preferred name (optional)
  </label>
  <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text"></div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
