
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}
<div class="govuk-width-container {{mainClasses}} govuk-grid-row blue-background govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds" >
  <br>

<h1 class="govuk-heading-xl white-text govuk-!-margin-bottom-9 govuk-!-margin-top-3">Hi Joe, welcome to the Early Career Framework</h1>
<br>
</div>
</div>
{% endblock %}



{% block content %}

<div class="govuk-notification-banner border-dark-blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__content">
    <p>
    Before you start please read <a class="govuk-notification-banner__link" href="/it3/guidance">what an ECF week looks like and flexibility of materials</a>.
    </p>
  </div>
</div>
<h2 class="govuk-heading-l">Self study progress</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">1</h1>
      <p class="govuk-!-margin-bottom-1">Lesson completed</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">0</h1>
      <p class="govuk-!-margin-bottom-1">Modules completed</p>
    </div>
  </div>
</div>

<br>
<a href="/it3/module-list" class="govuk-button">Go to the Early Career Framework</a>

<h2 class="govuk-heading-l govuk-!-margin-top-4">Useful links</h2>

<p><a href="#">What to expect from your mentor</a></p>

<p><a href="#">Get support with using the platform</a></p>
<p><a href="#">Get support with using the platform</a></p>





<br>

{% endblock %}
