
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">Your module materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/lesson-list">First Autumn half-term: enabling pupil learning</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">Week 2: understanding teachers as role models</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-7">This session should take you about <strong>45 minutes</strong> to complete</p>

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list">
  <li>
    – <span>Introduction and intended outcomes</span>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part2">Research and practice summary</a>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part3">Self-study activities</a>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part4">Next steps and conclusion of session</a>
  </li>
</ul>

<h2 class="govuk-heading-l">Introduction</h2>

<p>This module focuses on Teachers’ Standards 1 and 7. These can be considered as foundational to your teaching because they address how you set up your classroom as a learning environment.

  As you work through the weeks of this module you will reflect on the different ways that you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>

<h2 class="govuk-heading-l">Intended outcomes</h2>

<h3 class="govuk-heading-m">You will learn that:</h3>

    <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">Teachers have the ability to affect and improve the wellbeing, motivation and
behaviour of their pupils.</td>
    </tr>
    <tr class="govuk-table__row">


      <td class="govuk-table__cell govuk-!-width-full">Teachers are key role models, who can influence the attitudes, values and
behaviours of their pupils.</td>
    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">Teacher expectations can affect pupil outcomes; setting goals that challenge
and stretch pupils is essential.</td>
    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">Setting clear expectations can help communicate shared values that improve
classroom and school culture.</td>
    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">A culture of mutual trust and respect supports effective relationships.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Establishing and reinforcing routines, including through positive reinforcement,
can help create an effective learning environment.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">A predictable and secure environment benefits all pupils, but is particularly
valuable for pupils with special educational needs. </td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-m">You will learn how to:</h3>

<p><strong>Demonstrate consistently high behavioural expectations, by:</strong></p>

    <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Creating a culture of respect and trust in the classroom that supports all pupils
to succeed. For example, by modelling the types of courteous behaviour expected of
pupils.</td>
    </tr>
  </tbody>
</table>

<p><strong>Establish effective routines and expectations, by:</strong></p>

    <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Creating and explicitly teaching routines in line with the school ethos that
maximise time for learning. For example, setting and reinforcing expectations about key
transition points.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Practising routines at the beginning of the school year.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Reinforcing routines. For example, by articulating the link between time on task and
success.</td>
    </tr>
  </tbody>
</table>

</div>
  </div>

  <div class="govuk-inset-text">
    <p>You can <a href="https://docs.google.com/document/d/1SS_cWPqRRv_F8uBLow-itQRgkYx8ytxaUJvi_uDPoXo/edit?usp=sharing">download this worksheet (word.doc)</a> to take notes during this session</p>
  </div>

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/it3/lesson-part2" class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Research and practice summary</span>
        </a>
      </li>
  </ul>
</nav>




  </div>



  </div>

{% endblock %}
