
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">Self study material</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">First half-term - Enabling pupil learning</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m"><strong>Week 1 - Module Audit</strong></h2>
    </div>
    </div>
  <p>This week, there is no self study material, instead you <br>will meet your mentor etc etc</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/it3/lesson-part1"><strong>Week 2 - Understanding teachers as role models</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--green">Done</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Self study duration: 45 minutes</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Week 3 - Establishing the learning environment</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Self study duration: 45 minutes</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><strong>Week 4 - Supporting the most vulnerable pupils</strong></h2>
</div>
</div>
<p>There is no self study session this week - something<br> about training</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Week 5 - Understanding pupils as learners</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Self study duration: 45 minutes</p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Week 6 - Managing behaviour</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Self study duration: 45 minutes</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><strong>Week 7 - Exploring yourself as a role model</strong></h2>
</div>
</div>
<p>There is no self study session for this week, instead<br> your mentor will observe one of yuor lessons for 20 minutes</p>






  </div>



  </div>

{% endblock %}
