
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">The Early Career Framework materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/lesson-list">First Autumn half-term - Enabling pupil learning</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">Week 3 - Establishing the learning environment</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-7">This session will take you approximately <strong>45 minutes</strong> to complete</p>

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list">
  <li>
    – <a class="govuk-link" href="/it3/lesson-part1">Introduction and intended outcomes</a>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part2">Research and practice summary</a>
  </li>
  <li>
    – <span>Plan and theory into practice</span>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part4">Next steps and conclusion of session</a>
  </li>
</ul>

<h2 class="govuk-heading-l">Plan and theory into practice</h2>
<p>You should spend approximately <strong>30 minutes on this section</strong></p>

<div class="govuk-inset-text">
  If you haven’t already, you can <a href="https://docs.google.com/document/d/1SS_cWPqRRv_F8uBLow-itQRgkYx8ytxaUJvi_uDPoXo/edit?usp=sharing" target="_blank">download the session worksheet</a> for self study activities on this page or you can use pen and paper</p>
</div>

<h3 class="govuk-heading-m">Self study activity: Practical exercise </h3>


<p>
  Read the scenario below. Use this to test and extend your thinking around approaches to establishing the learning environment.

  At each numbered point of the scenario, complete the table at the end of the text, using the information in the research and practice summary above and your learning from last week’s sessions. The first row has been completed as an example of the sort of answers you might give. You will need to copy the table into your notes so you have space to fill it in.
  Once you have completed the activity, review your responses by reading the commentary at the end of this session plan. Update your own responses as necessary.
  The scenario has been written so that it can be interpreted in the context of any phase. You should consider the case in the context of your pupils, school context and specialism.</p>

<h4 class="govuk-heading-s">Managing a smooth start to lessons </h4>

<p>
It’s early in the first term of the academic year. You are finding that when pupils arrive at your classroom, it takes up to 10 minutes for them all to arrive and become settled and ready to start (1). There are particular pupils who are consistently the last to arrive at the lesson, by which point you just want to get started in order to engage the class in their learning (2). The staggered start to the lesson is eating into important instruction time and creates an unsettled atmosphere, which you then find difficult to eradicate (3). When you begin the lesson, you find that there are some pupils who are not focused (e.g. whispering to one another, fidgeting with equipment and clearly not actively listening) which often means you need to repeat instructions, explain things again, or have some pupils who are ready to move on and some who are unable to because they weren’t focused (4).
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
      <th scope="col" class="govuk-table__header">Amount</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-quarter">1</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">Pupils are arriving and entering the classroom at different times, often late.</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">The teacher needs to set a routine in place for how the lesson begins – give clear expectations of pupils and emphasise the importance of punctuality. They also need to consider the school policy on dealing with poor punctuality and ensure they are following the systems in place.</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">I would establish why pupils were arriving late – if there is a legitimate reason (lesson before is further away, meeting with a member of staff), I would support the pupils in trying to improve this situation. If the lateness is not excusable, I would follow school policy in following up the issue with the specific pupils involved.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-quarter">2</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-quarter">2</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-quarter">2</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">To be filled out</td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-m">Self study activity: Reflection </h3>

<p>Having completed the activity above, reflect on how this connects to your own practice and how you can draw on learning from this exercise to improve your approaches to establishing the learning environment.

<p class="govuk-body">You might ask yourself::</p>
<ul class="govuk-list govuk-list--bullet">
  <li>which points of the scenario resonate most strongly with your own experience?</li>
  <li>which points of the scenario would you be most/least confident in addressing?</li>
  <li>who in your school could help you develop your practice further in areas covered in this scenario?</li>
  <li>what immediate change can you make in your practice to improve the way that you communicate behavioural expectations and shape your classroom environment?</p>
</li>

</ul>

<h4 class="govuk-heading-s">So what could you do in this scenario?</h4>

<ol class="govuk-list govuk-list--number">
  <li>Setting out clear expectations at the start of a new year is a powerful way to ensure consistency in your lessons. Decide how you want your lessons to begin – perhaps there is a school policy where all pupils must line up in silence outside the classroom, or perhaps you are allowed to choose how the lesson starts. Identifying a clear expectation which you reinforce every lesson will foster a calm and purposeful start to your lesson.</li>
  <li>Find out why the pupils are late to your lesson by talking to them calmly, outside of lesson time away from the view of the rest of the class. Consider your school policy on punctuality – apply the appropriate sanction to deal with the late pupils, and continue to do so each time they are late, escalating your response as necessary if this is a repeat occurrence.
</li>
  <li>Preparation is key here. Set the expectation that there will always be the same routine at the start of each lesson. For example, pupils enter quietly and sit at their desk, remove their coats and get their equipment out for the lesson. It may be a good idea to have a task ready for them to engage with immediately, such as a quiz on prior learning, a ‘big question’ that requires deep thought, or perhaps responding to feedback in their exercise books. This will set the tone for a calm and purposeful lesson.
</li>
<li>Again, this is about ensuring there are clear expectations which you consistently reinforce, ideally through modelling the behaviour you expect from pupils. The example in the research and practice summary of stopping instruction abruptly and looking pointedly at those not listening can be an effective strategy. It would also be appropriate to praise pupils who do conform to your expectations. Furthermore, you may want to reflect on the quality of your explanations – are they sufficiently structured and concise? As with the issue of punctuality, apply your school’s policy in managing the situation, initially aiming for the least-intrusive action but escalating issues as appropriate in line with the policy.</p>
</li>
</ol>

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="/it3/lesson-part2" class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Previous
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Research and practice summary</span>
        </a>
      </li>
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/it3/lesson-part4" class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Next steps and conclusion of the session</span>
        </a>
      </li>
  </ul>
</nav>




  </div>



  </div>

{% endblock %}
