
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">First half-term - How can you create an effective learning environment?</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m"><a href="/teacher"><strong>Study topic 1 - Something or other or other other</strong></a></h2>
    </div>
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--green">Complete</strong></p>
      </div>
    </div>
<p class="govuk-body govuk-!-margin-bottom-3">Duration: 40 minutes</p>
<p><a href="#">Your reflections from the topic</p>
  <p>Your mentor will observe how you create a positive and respectful enviornment</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/it3/lesson-part1"><strong>Study topic 1 - Something or other or other other</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Duration: 40 minutes</p>
<p><a href="#">Your reflections from the topic</p>
<p>Your mentor will observe how you create a positive and respectful enviornment</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Study topic 1 - Something or other or other other</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Duration: 40 minutes</p>
<p><a href="#">Your reflections from the topic</p>
<p>Your mentor will observe how you create a positive and respectful enviornment</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Study topic 1 - Something or other or other other</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Duration: 40 minutes</p>
<p><a href="#">Your reflections from the topic</p>
<p>Your mentor will observe how you create a positive and respectful enviornment</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Study topic 1 - Something or other or other other</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Duration: 40 minutes</p>
<p><a href="#">Your reflections from the topic</p>
<p>Your mentor will observe how you create a positive and respectful enviornment</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><a href="/teacher"><strong>Study topic 1 - Something or other or other other</strong></a></h2>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p class="govuk-body govuk-!-margin-bottom-3">Duration: 40 minutes</p>
<p><a href="#">Your reflections from the topic</p>
<p>Your mentor will observe how you create a positive and respectful enviornment</p>








  </div>



  </div>

{% endblock %}
