
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">The Early Career Framework materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/lesson-list">First Autumn half-term - Enabling pupil learning</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">Week 3 - Establishing the learning environment</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-7">This session will take you approximately <strong>45 minutes</strong> to complete</p>

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

<ul class="govuk-list">
  <li>
    – <span>Introduction and intended outcomes</span>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part2">Research and practice summary</a>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part3">Plan and theory into practice</a>
  </li>
  <li>
    – <a class="govuk-link" href="/it3/lesson-part4">Next steps and conclusion of session</a>
  </li>
</ul>

<div class="govuk-inset-text">
  <p>During this session you’ll be asked to carry out related self study activities . You can either jot these down on pen and paper or if you prefer you can download the worksheet.</p>
  <a href="https://docs.google.com/document/d/1SS_cWPqRRv_F8uBLow-itQRgkYx8ytxaUJvi_uDPoXo/edit?usp=sharing" target="_blank" class="govuk-button">Download session worksheet</a>
</div>

<h2 class="govuk-heading-l">Introduction</h2>

<p>This module focuses on Teachers’ Standards 1 and 7. These can be considered as foundational to your teaching because they address how you set up your classroom as a learning environment. As you work through the weeks of this module you will reflect on the different ways that you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>

<h2 class="govuk-heading-l">Intended outcomes</h2>

<h3 class="govuk-heading-m">You will learn how to:</h3>

<p><strong>Demonstrate consistently high behavioural expectations, by:</strong></p>

<table class="govuk-table">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full"> Creating a culture of respect and trust in the classroom that supports all pupils to succeed (e.g. by modelling the types of courteous behaviour expected of pupils).</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Teaching and rigorously maintaining clear behavioural expectations (e.g. for contributions, volume level and concentration).</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Applying rules, sanctions and rewards in line with school policy, escalating behaviour incidents as appropriate.</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Acknowledging and praising pupil effort and emphasising progress being made.</td>
</tr>
</tbody>
</table>

<p><strong>Develop a positive, predictable and safe environment for pupils, by:</strong></p>

<table class="govuk-table">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Establishing a supportive and inclusive environment with a predictable system of reward and sanction in the classroom.</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Working alongside colleagues as part of a wider system of behaviour management (e.g. recognising responsibilities and understanding the right to assistance and training from senior colleagues).</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Giving manageable, specific and sequential instructions.</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Checking pupils’ understanding of instructions before a task begins.</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Using consistent language and non-verbal signals for common classroom directions.</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Using early and least-intrusive interventions as an initial response to low-level disruption.</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-full">Responding quickly to any behaviour or bullying that threatens emotional safety.</td>
</tr>
</tbody>
</table>








      </div>
      </div>

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/it3/lesson-part2" class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Research and Practice Summary</span>
        </a>
      </li>
  </ul>
</nav>




  </div>



  </div>

{% endblock %}
