
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>

  <br>

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-3">Year 1 </h2>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Autumn term</strong></p>

        <p class="govuk-body"><a href="/it3/lesson-list"><strong>First half-term: enabling pupil learning</strong></a></p>
        <p>In this module you'll focus on how you set up your classroom as a learning environment. You'll be able to reflect on the different ways you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: engaging pupils in learning</strong></a></p>
  <p>In this module you'll look at the impact of pupils’ prior knowledge on their learning and how knowledge changes through the cooperation of working and long-term memory. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Spring term</strong></p>

  <p class="govuk-body"><a href="#"><strong>First half-term: developing quality pedagogy (part 1)</strong></a></p>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: developing quality pedagogy (part 2)</strong></a></p>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Summer term</strong></p>

  <p class="govuk-body"><a href="#"><strong>First half-term: developing quality pedagogy (part 3)</strong></a></p>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: making productive use of assessment</strong></a></p>
  <p>In this module you'll build on your existing knowledge of assessment principles.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Four self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<h2 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-7">Year 2 </h2>
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Autumn term</strong></p>

      <p class="govuk-body"><a href="/it3/lesson-list"><strong>First half-term: enquiry into enabling pupil learning</strong></a></p>
      <p>In this module you'll focus on one particular part of your teaching to evaluate the impact your practices have on your pupils. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">To do</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: enquiry into engaging pupils in learning</strong></a></p>
<p>In this module you'll focus on how to improve your teaching without adding to your workload.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Spring term</strong></p>

<p class="govuk-body"><a href="#"><strong>First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 1)</strong></a></p>
<p>In this module you'll look at how to gather evidence about the impact your teaching is having, followed by practical tips on altering your practices to get better results. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 2)</strong></a></p>
<p>In this module you'll look at how to gather evidence about the impact your teaching is having, followed by practical tips on altering your practices to get better results. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-7 govuk-!-margin-bottom-5"><strong>Summer term</strong></p>

<p class="govuk-body"><a href="#"><strong>First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 3)</strong></a></p>
<p>In this module you'll look at how to gather evidence about the impact your teaching is having, followed by practical tips on altering your practices to get better results. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<p class="govuk-body govuk-!-margin-top-7"><a href="#"><strong>Second half-term: fulfilling professional responsibilities</strong></a></p>
<p>Module summary coming soon.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>No self-study sessions</p>
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
</div>
</div>









{% endblock %}
