
{% extends "layout_it3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">The Early Career Framework study materials</h1>

  <br>

  <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-3">Year 1 </h2>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6"><strong>Autumn term</strong></p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body"><a href="/it3/lesson-list"><strong>First half-term - How can you create an effective learning environment?</strong></a></p>
    </div>
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p>
      </div>
    </div>
<p>During your teacher's first half term as an early career teacher they’ll explore what effective learning environments look like and strategies they can use to achieve them.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><a href="#"><strong>Second half-term - How do pupils learn?</strong></a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p>During the second half term your teacher will focus on how pupils learn effectively and how this can positively impact their teaching.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24"><strong>Spring term</strong></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><a href="#"><strong>Third half-term - What makes classroom practice effective?</strong></a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p>During the third term your teacher will develop their classroom practice skills and look at why curriculum knowledge is crucial to effective teaching. </p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><a href="#"><strong>Fourth half-term - How can you use assessment and feedback to greatest effect?</strong></a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p>During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24"><strong>Summer term</strong></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><a href="#"><strong>Fifth half term - How can you support all pupils to succeed?</strong></a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p>During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><a href="#"><strong>Sixth half-term - How to design a coherent curriculum</strong></a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>
<p>During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.</p>

<h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-3">Year 2 </h2>
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6"><strong>Autumn term</strong></p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body"><a href="/lesson-list"><strong>First half-term - How can you create an effective learning environment?</strong></a></p>
  </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p>
    </div>
  </div>
<p>During your teacher's first half term as an early career teacher they’ll explore what effective learning environments look like and strategies they can use to achieve them.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <p class="govuk-body"><a href="#"><strong>Second half-term - How do pupils learn?</strong></a></p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>
<p>During the second half term your teacher will focus on how pupils learn effectively and how this can positively impact their teaching.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24"><strong>Spring term</strong></p>

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <p class="govuk-body"><a href="#"><strong>Third half-term - What makes classroom practice effective?</strong></a></p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>
<p>During the third term your teacher will develop their classroom practice skills and look at why curriculum knowledge is crucial to effective teaching. </p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <p class="govuk-body"><a href="#"><strong>Fourth half-term - How can you use assessment and feedback to greatest effect?</strong></a></p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>
<p>During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24"><strong>Summer term</strong></p>
<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <p class="govuk-body"><a href="#"><strong>Fifth half term - How can you support all pupils to succeed?</strong></a></p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>
<p>During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <p class="govuk-body"><a href="#"><strong>Sixth half-term - How to design a coherent curriculum</strong></a></p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
</div>
</div>
<p>During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.</p>

  </div>



  </div>

{% endblock %}
