{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it1/choose">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-6">Add teachers</h1>

      <p class= "govuk-body govuk-!-margin-bottom-0">We will send them a link to access their study materials.</p>


<div class="govuk-width-container">

<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row ">
<div class="govuk-grid-column-two-thirds">

  <form class="form" action="/nqt1/it1/check" method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <input class="govuk-input govuk-!-width-full" id="full-name" name="full-name" type="text" autocomplete="full-name" value="{{ data['full-name'] }}"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Email address
          </label>
          <div id="event-name-hint" class="govuk-hint">
              You can use their work or personal email address
            </div>
          <input class="govuk-input govuk-!-width-full" id="email-address" name="email-address" type="text" autocomplete="email-address" value="{{ data['email-address'] }}"></div>


      </fieldset>
</div>


  <button class="govuk-button" data-module="govuk-button">Continue</button>

  </form>



</div>
</div>
</main>
</div>

{% endblock %}
