{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it1/question">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-4">Which study materials would you like to use?</h1>

      <p>You don't neccessarily need to choose the material that you chose before. If you are undecided you can read the <a href="https://manage-training-for-early-career-teachers.education.gov.uk/pages/core-materials-info">guidance about the different materials</a></p>

      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Capita or Best Practice Network is the provider for my ECTs.
    </span>
  </summary>
  <div class="govuk-details__text">
    For their full induction programme Capita is using Ambition Insitute's materials and Best Practice Network is using University College London's materials.
  </div>
</details>

      <form class="form" action="/nqt1/it1/add-teachers" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="material" name="material" type="radio" value="Ambition Institute">
        <label class="govuk-label govuk-radios__label" for="material">
          Ambition Institute
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="material-2" name="material" type="radio" value="Education Development Trust">
        <label class="govuk-label govuk-radios__label" for="material-2">
          Education Development Trust
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="material-3" name="material" type="radio" value="Teach First">
        <label class="govuk-label govuk-radios__label" for="material-3">
          Teach First
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="material-4" name="material" type="radio" value="University College London">
        <label class="govuk-label govuk-radios__label" for="material-4">
          University College London
        </label>
      </div>

    </div>


  </fieldset>
</div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
