{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/nqt1/it1/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Are you sure you want to delete {{ data['full-name'] }}?</h1>


        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

    <p>You won't be able to undo this action and will have to input their details again</p>

  </fieldset>
</div>



<form class="form" action="/nqt1/it1/check-deleted" method="post">
      <div class="govuk-button-group">

    <input type="submit" name="commit" value="Delete" class="govuk-button govuk-button--warning">
    <a class="govuk-link govuk-!-margin-top-2" href="/nqt1/it1/check">Cancel</a>

</div>
</form>

    </div>
  </div>

{% endblock %}
