
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Email subject: DfE accredited materials available to benefit 2019/2020 NQTs</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Hello,</p>

<p>[School name] can now access DfE accredited materials to support their 2019/20 NQTs who may have missed out on developing their practice last year</p>

<p> To access these materials for your school, you will need to have decided which  <a href="https://dfe-ecf-register-partner.herokuapp.com/sprint-17/cip-course-guidance">materials you'd like to use (open in new tab)</a> and have your NQTs details ready so that they can acccess the materials.

<p>Get started</p>

<p><a href="/nqt1/it1/start">link to service</a>

  <p class="govuk-body">You should use this service if you know</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>whether you have NQTs from last year (2019/2020)</li>
    <li>what materials your school would want to use (you may need to consult with a colleague)</li>
    <li>the details of your schools NQTs</li>
  </ul>

<p>You can also forward this email on to one of you colleagues</p>

<p>If you don't have NQTs this year, you don't need to do anything and can disregard this email</p>

<p><strong>Teacher Continuing Professional Development</strong><br>
Department for Education</p>



    </div>
  </div>

{% endblock %}
