{% extends "layout_nqt.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-8">Would you like to use DfE-accredited materials to support your school's 2020 cohort?</h1>

      <form class="form" action="/nqt1/it1/question-answer" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nqts" name="nqts" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="nqts">
          Yes, I would like to use DfE's accredited materials
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nqts-2" name="nqts" type="radio" value="no-support">
        <label class="govuk-label govuk-radios__label" for="nqts-2">
          No, I do not want to use DfE's acredited materials
        </label>
      </div>
    </div>

  </fieldset>
</div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
