{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Autumn term: behaviour</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--m">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 1: strand fundamentals and contracting </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 2: routines</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 3: instructions </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 4: directing attention  </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 5: low-level disruption </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 6: consistency </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 7: positive learning environment  </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 8: structured support of learning   </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 9: challenge  </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 10: independent practice  </a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 11: pairs and groups</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-margin-bottom-0"><a href="#">Week 12: upholding high expectations</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-0">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-padding-top-0 govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>























{% endblock %}
