
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Use these DfE-accredited materials to catch up on induction training disrupted by the pandemic </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>Hello,</p>

      <p>
      Your school has created a GOV.UK account where you can access support materials designed to help you hone your teaching skills and knowledge.
      </p>

    <p>The idea is that you focus on any development areas you missed out on during your first year of teaching.</p>

    <p>You can use the materials now until the summer of 2022.</p>

    <div class="govuk-inset-text">
    <p>Use this link to sign in to your account</p>

    <p><a href="#">http://support-for-early-career-teachers.education.gov.uk/access-for-nqts</a></p>
    </div>
      <p>
        To sign in to your account, go to the service on GOV.UK.</p>

      <p>
        You will need the email address your school used when they created your account. This will probably be your work email.
      </p>
<p>
  Thanks,<br>
  The Teacher Continuing Professional Development team
</p>

    </div>
  </div>

{% endblock %}
