
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Get extra statutory induction support</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>Hello,</p>

      <p>
        Was your statutory induction training disrupted because of the pandemic?
      </p>

    <p>Your school has created a GOV.UK account where you can access materials designed to help you hone your teaching skills and knowledge.</p>

    <p>It’s entirely optional, but the idea is that you focus on any development areas you missed out on during the pandemic.</p>

    <p>You can use the materials now until the summer of 2022.</p>

    <h4 class="govuk-heading-s">Why you’ve been selected</h4>


    <p>We are specifically offering help to teachers at state-funded schools who either:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>completed their induction in the 2020 to 2021 academic year</li>
    </ul>

    <p>Or</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>had started but not yet completed their induction by 1 September 2021</li>
    </ul>


<br>

<h4 class="govuk-heading-s">To sign in to your account, go to:</h4>

    <p><a href="/nqt1-teachers/it2/start">http://support-for-early-career-teachers.education.gov.uk/start</a></p>

      <p>
        You will need the email address your school used when they created your account</p>

<p>
  Thanks,<br>
  The Teacher Continuing Professional Development team
</p>

    </div>
  </div>

{% endblock %}
