
{% extends "layout_dev.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <br>

<h1 class="govuk-heading-xl">What’s available</h1>

<p>This service gives you access to the same resources teachers doing the new early career training programme use. </p>

<p>We hope these materials will help fill knowledge and skills gaps over the next academic year.</p>

<p>Your school should also have arranged for you to have some extra development time away from the classroom to use on statutory induction training.</p>

<h2 class="govuk-heading-l">How to use these resources</h2>

<p>These materials feature a wide range of theory and practical classroom techniques aligned to the teachers’ standards. </p>

<div class="govuk-inset-text">

<p>Unlike teachers doing the new programme, who use these materials throughout their 2-year induction, you will only have access for 3 terms. </p>


<p>To get the best out of them you should:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    focus on development areas disrupted by the pandemic. Do not try to cover all the material
  </li>
  <li>
dip in and out of the resources rather than following the prescribed week by week structure
</li>
</ul>


<p>Note that you should ignore references to mentor meetings and associated practical exercises featured in the resources. These only apply to teachers doing the new programme.</p>

</div>

<p>We encourage you to keep reflections and notes while using these materials. These will be a useful reference, and evidence for your progress reviews.</p>

<a href="/nqt1-teachers/it2/module-list-2" class="govuk-button govuk-!-margin-top-3">Go to your materials</a>

</div>
</div>

{% endblock %}
