{% extends "layout_dev.html" %}

{% block navigation %}




<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper govuk-!-padding-top-6 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds govuk-!-display-inline">
        <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-0">Welcome Joseph</h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0  govuk-body govuk-!-font-size-19"><a href="/dev/ambition/change-username">Edit name</a></p>
      </div>
    </div>

  </main>
</div>

<div class="{{mainClasses}} govuk-grid-row blue-background">
  <main class="govuk-width-container govuk-!-padding-top-7 govuk-!-padding-bottom-7 govuk-main-wrapper govuk-main-wrapper--l">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl white-text govuk-!-margin-top-0 govuk-!-margin-bottom-0">Develop the skills you need to thrive</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6 govuk-!-margin-bottom-4 white-text">Using the materials available in this service, you’ll be able to put what you learn into practice in the classroom.

</p>

        <a href="/nqt1-teachers/it2/guidance-question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-0 govuk-!-margin-top-3" style="background-color: white; color: #003078; box-shadow: none" data-module="govuk-button">
  Access your materials
  </a>
      </div>
    </div>

  </main>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">




  <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-3">Find out what’s available</h2>

  <p class="govuk-body">Read this <a href="/nqt1-teachers/it2/guidance">brief guide </a>to find out what help is available to you over the next academic year.</p>


</div>
</div>

{% endblock %}
