{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>


    <div class="govuk-notification-banner govuk-!-margin-top-6 govuk-!-margin-bottom-2" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>

  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Information if you've already completed your induction.
    </p>
    <p> You will only be able to use these materials for a year. To get the best out of them you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>focus on your development areas, there is no need to cover all materials</li>
      <li>dip in and out rather than following a weekly structure</li>
      <li>ignore references to mentors</li>
</ul>
  </div>
</div>

    <br>

    {% include "includes/year1-ambition.html" %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/ambition/lesson-list"> Autumn term: behaviour</a></h3>
      </div>
    </div>

    <p>In this module you'll cover:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how to establish an effective learning environment</li>
      <li>how to effectively manage behaviour</li>
      <li>the importance of holding and promoting high expectations for all pupils</li>
</ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <p>12 self-study sessions</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
      </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-top-8"><a href="#"> Spring term: instruction</a></h3>
      </div>
    </div>

    <p>In this module you'll cover:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the link between effective instruction and pupil learning</li>
      <li>the elements of explicit instruction and the ‘I-we-you’ model as a useful way of approaching this</li>
      <li>how instruction can support more effective pupil thinking</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <p>12 self-study sessions</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
          </div>
        </div>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-top-8"><a href="#"> Summer term: subject</a></h3>
      </div>
    </div>

    <p>In this module you'll cover:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the curriculum</li>
      <li>your mental model of the subject or phase you teach and its implications for your planning</li>
      <li>how to know what pupils have understood, the barriers you face in doing so and how to respond to their needs</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <p>12 self-study sessions</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
      </div>
    </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  </div>
</div>










{% endblock %}
