
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Support for early career teachers</h1>

  <p class="govuk-body">Use this service to access Department for Education-accredited training and support materials.</p>

<p>This service is for teaching staff at schools in England who:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>are doing the 2-year early career statutory induction programme</li>
  <li>mentor early career teachers</li>
  <li>completed their statutory induction in the 2020 to 2021 academic year</li>
  <li>had started but not yet completed their statutory induction by 1 September 2021</li>
</ul>





    <a href="/nqt1-teachers/it2/sign-in" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>

<h3 class="govuk-heading-m">Before you start</h3>

<p class="govuk-body">You will need the email address your school used when they created your account.</p>
  </div>
</div>

{% endblock %}
