
{% extends "layout_dev.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">EDT content to do! Your module materials</h1>

  <br>

  {% include "includes/years-year2-dev-edt.html" %}


  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

      <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: enquiry into enabling pupil learning</a></h3>
      <p>In this module you'll focus on one particular part of your teaching to evaluate the impact your practices have on your pupils. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Start next year</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: enquiry into engaging pupils in learning</a></h3>
<p>In this module you'll focus on how to improve your teaching without adding to your workload.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Start next year</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 1)</a></h3>
<p>In this module you'll look at how to gather evidence about the impact your teaching is having, followed by practical tips on altering your practices to get better results. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Start next year</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 2)</a></h3>
<p>In this module you'll look at how to gather evidence about the impact your teaching is having, followed by practical tips on altering your practices to get better results. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Start next year</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 3)</a></h3>
<p>In this module you'll look at how to gather evidence about the impact your teaching is having, followed by practical tips on altering your practices to get better results. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>One self-study session</p>
</div>
<div class="govuk-grid-column-one-quarter">
  <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Start next year</strong></p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: fulfilling professional responsibilities</a></h3>
<p>Module summary coming soon.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <p>No self-study sessions</p>
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
</div>
</div>
</div>
</div>









{% endblock %}
