
{% extends "layout_dev.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>

  <br>

  {% include "includes/years-dev-edt.html" %}


    <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/edt/lesson-list">First half-term: establishing a positive climate for learning</a></h3>
        <p>In this module you'll learn about teaching your pupils how to behave in your classroom, setting clear expectations and reinforcing these with consistent routines.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Nine self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: how pupils learn - memory and cognition</a></h3>
  <p>In this module you'll gain an understanding of how the brain works, and how you can then design more effective learning for your pupils.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Eight self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: developing effective classroom practice - teaching and adapting.</a></h3>
  <p>In this module you'll focus on the fundamental techniques you can use to become a more effective teacher.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Nine self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: the importance of subject and curriculum knowledge</a></h3>
  <p>In this module you'll learn practical ways to develop your subject and curriculum knowledge.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Eight self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: assessment, feedback and questioning</a></h3>
  <p>In this module you'll work on developing effective assessment and feedback practices.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Eight self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: a people profession</a></h3>
    <p>In this module you'll focus on developing strong professional relationships to build the best outcomes for your pupils.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Nine self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


</div>
</div>









{% endblock %}
