{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Autumn first half-term: enabling pupil learning</h1>


</div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><strong>Week 1: module overview</strong></h2>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View which teachers' standards this topic relates to
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>standard 1 - setting high expectations</li>
              <li>standard 8 - fulfilling wider professional responsibilities</li>
            </ul>

          </div>
        </details>

    <p>CONTENT TO BE UPDATED. There is no self study session this week, instead use the time to read the module overview and discuss with your mentor</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the module overview (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 2: establishing effective routines </strong></h2>

    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 3: creating a positive and respectful classroom environment </strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/dev/ucl/lesson-part1">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 4: addressing low-level behaviour</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View which teachers' standards this topic relates to
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>standard 1 - setting high expectations</li>
          <li>standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 5: addressing persistent and challenging behaviour</strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 6: developing pupils’ intrinsic motivation</strong></h2>
    <p>CONTENT TO BE UPDATED.This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 7: holding high expectations and maintaining engagement</strong></h2>
    <p>CONTENT TO BE UPDATED.This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    </div>
    </div>






{% endblock %}
