{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Autumn second half-term: how do pupils learn?</h1>


</div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m"><strong>Module overview</strong></h2>
    <p>CONTENT TO BE UPDATED. Before you start this module, please read the overview</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the module overview (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 1: the working and long-term memory </strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 2: considering how to introduce new knowledge to pupils </strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/dev/ucl/lesson-part1">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 3: using worked and partially completed examples</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/dev/ucl/lesson-part1">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 4: observation</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. There is no self study session this week, but your mentor will observe you.</p>
  </div>
</div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0"><strong>Week 5: helping pupils remember (part one)</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 6: helping pupils remember (part two)</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED.This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom. Your mentor will also observe you.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0"><strong>Week 7: introduction to metacognition</strong></h2>
    <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This topic relates to teachers' standards:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Standard 1 - setting high expectations</li>
          <li>Standard 8 - fulfilling wider professional responsibilities</li>
        </ul>

      </div>
    </details>

    <p>CONTENT TO BE UPDATED.This week features a self-study element followed by a meeting with your mentor to discuss the topic and how it can be applied in the classroom.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    </div>
    </div>






{% endblock %}
