
{% extends "layout_dev.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>

  <br>

  {% include "includes/year1-tf.html" %}


    <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/tf/lesson-list">First half-term: How can you create an effective learning environment?</a></h3>
<p>In this module you'll explore what effective learning environments look like and strategies you can use to achieve them.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Seven self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/tf/lesson-list-2">Second half-term: how do pupils learn?</a></h3>
  <p>In this module you'll explore the findings and evidence gathered during studies of how pupils learn, and the related implications for teaching.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Six self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: what makes classroom practice effective?.</a></h3>
  <p>In this module you'll hear an education expert talking about the features of effective classroom practice and why they are so important. You'll then explore the features in detail and have time to plan them into your sequences of lessons.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Six self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: how can you use assessment and feedback to greatest effect? </a></h3>
  <p>In this module you'll hear from education experts about why assessment should be at the heart of your teaching. You'll also explore ways to give purposeful feedback to your pupils and what you can learn from summative data sets. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Seven self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: how can you support all pupils to succeed?</a></h3>
  <p>In this module you'll hear a variety of educational specialists talk about ways to support all pupils to succeed across the curriculum, and why this is so important.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Seven self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: how to design a coherent curriculum</a></h3>
    <p>In this module you'll learn how to design a carefully sequenced and coherent scheme of work and how this will improve learning for your pupils.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>Seven self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


</div>
</div>









{% endblock %}
