
{% extends "layout_it6.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/it6/ucl/home">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <br>

<h1 class="govuk-heading-xl">Information about training and support during your induction</h1>

<p>Your induction includes a 2-year programme of structured training and support to help you get your teaching career off to the best possible start.</p>

<p>The programme you’re doing has been developed by the University College London Early Career Teacher Consortium. They have worked with teachers, school leaders, education experts and the Department for Education to create online learning resources that fit around your timetable.</p>

<p>You will work closely with a mentor to enhance your skills, giving you all the tools you need to thrive in your new role.</p>

<p>Your timetable will also be reduced (by 10% in the first year and 5% in the second) to allow you to focus on this training programme.</p>

<p>The training is built around 9 modules covering themes closely related to the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">teachers’ standards. </a></p>

<p>The modules have each been designed to take about half a term to complete, and are broken down into weekly topics. Most weeks include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    around 45 minutes of online self-study activities to learn about the topic
  </li>
  <li>
  a meeting (usually around 50 minutes) to reflect on what you’ve learnt with your mentor, discuss any issues or concerns, and decide what actions you want to take going forward
  </li>
  <li>your mentor seeing how you are putting what you’ve learnt into practice by watching you teach for 10 to 15 minutes</li>
</ul>

<p>We encourage you to keep reflections and feedback throughout the programme, not only so you can refer back to them, but also to use as evidence to inform your progress reviews and formal assessments.</p>

<p>We recommend you follow the order we’ve set them in where possible, but you can switch things around if you need some flexibility.</p>

<a href="/it6/ucl/home" class="govuk-button">Back to homepage</a>

</div>
</div>

{% endblock %}
