
{% extends "layout_it6.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it6/ucl/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>

  <br>

  {% include "includes/years-dev-ucl.html" %}


    <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/it6/ucl/lesson-list">First half-term: enabling pupil learning</a></h3>
        <p>In this module you'll focus on how you set up your classroom as a learning environment. You'll be able to reflect on the different ways you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>4 self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: engaging pupils in learning</a></h3>
  <p>In this module you'll look at the impact of pupils’ prior knowledge on their learning and how knowledge changes through the cooperation of working and long-term memory. </p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>4 self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: developing quality pedagogy (part 1)</a></h3>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>4 self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: developing quality pedagogy (part 2)</a></h3>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>4 self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: making productive use of assessment</a></h3>
  <p>In this module you'll build on your existing knowledge of assessment principles.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>4 self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: fulfilling professional responsibilities.</a></h3>
    <p>In this module you'll consider what it means to be professional, and approaches to managing your professional development.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>4 self-study sessions</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


</div>
</div>









{% endblock %}
