{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Autumn term: behaviour</h1>

    <h2 class="govuk-heading-m govuk-!-margin-top-6"><strong>Week 1: strand fundamentals and contracting</strong></h2>


    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 7 - managing behaviour</li>
    <li>standard 8 - fulfilling wider professional responsibilities</li>
    </ul>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">to do</strong></p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Week 2: routines</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 7 - managing behaviour</li>
    <li>standard 8 - fulfilling wider professional responsibilities</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/dev/ucl/lesson-part1">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Week 3: instructions</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 4 - planning and teaching well structured lessons</li>
    <li>standard 7 - managing behaviour</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/dev/ucl/lesson-part1">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-7"><strong>Week 4: directing attention</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 7 - managing behaviour</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 5: low-level disruption</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 5 - adapting your teaching</li>
    <li>standard 7 - managing behaviour</li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 6: consistency</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 3 - demonstrating good subject and curriculum knowledge</li>
    <li>standard 5 - adapting your teaching</li>
    <li>standard 7 - managing behaviour</li>
    <li>standard 8 - fulfilling wider professional responsibilities</li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 7: positive learning environment</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 7 - managing behaviour</li>

    </ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 8: structured support of learning</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 4 - planning and teaching well structured lessons</li>
    <li>standard 7 - managing behaviour</li>
</ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 9: challenge</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 4 - planning and teaching well structured lessons</li>
    <li>standard 7 - managing behaviour</li>
</ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 10: independent practice</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 4 - planning and teaching well structured lessons</li>
    <li>standard 6 - making accurate and productive use of assessment</li>
    <li>standard 7 - managing behaviour</li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 11: pairs and groups</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 2 - promoting good progress</li>
    <li>standard 4 - planning and teaching well structured lessons</li>
    <li>standard 5 - adapting your teaching</li>
    <li>standard 6 - making accurate and productive use of assessment</li>
    <li>standard 7 - managing behaviour</li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-8"><strong>Week 12: upholding high expectations</strong></h2>

    <p>This topic relates to teachers' standards:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 6 - making accurate and productive use of assessment</li>
    <li>standard 7 - managing behaviour</li>
    <li>standard 8 - fulfilling wider professional responsibilities</li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="#">Work through the self-study material (XX minutes)</a></p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

</div>
</div>












{% endblock %}
