{% extends "layout_dev.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>


    <br>

    {% include "includes/year2-ambition.html" %}


    <p class="govuk-!-margin-top-7">The second year offers you the chance to focus on developing your skills in specific areas within the modules.</p>

<p>It also allows you to catch up on anything you might have missed in the first year.</p>

<p>We’ll give you more details here about how the second year works closer to the time.</p>









{% endblock %}
