
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>CHANGE CONTENT</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>Hi [Add first name],</p>

      <p>
      Your school has created a GOV.UK account for you to access self-study materials for the training and support programme you’ll be doing during your first 2 years of teaching.
      </p>
      <p>
        To sign in to your account, go to the <a href="#">Add link to review app</a> service on GOV.UK.</p>
      <p>
        You will need the email address your school used when they created your account. This will probably be your work email.
      </p>
<p>
  Thanks,<br>
  The Teacher Continuing Professional Development team
</p>

    </div>
  </div>

{% endblock %}
