
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}
{% include "includes/header-home-current.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Year 1
      </h2>

      <h3 class="govuk-heading-l">
        Welcome
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        <a href="/ect-welcome-to-ecf">
          More introductory content
        </a>
      </p>

      <ol class="app-task-list">
        <li>
          <h4 class="govuk-heading-l">
            Half term 1
          </h4>
          <h5 class="app-task-list__section">
            Self study: Name of the Module or the block
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <ul class="app-task-list__items">
            {% set session_list_emement_title = "Week 1: Module introduction" %}
            {% include "includes/session-list-element-complete.html" %}

            {% set session_list_emement_title = "Week 1: Name of session/lesson/week" %}
            {% include "includes/session-list-element-complete.html" %}

            {% set session_list_emement_title = "Week 2: Name of session/lesson/week" %}
            {% include "includes/session-list-element-in-progress.html" %}

            {% set session_list_emement_title = "Week 3: Name of session/lesson/week" %}
            {% include "includes/session-list-element-not-started.html" %}

            {% set session_list_emement_title = "Week 4: Name of session/lesson/week" %}
            {% include "includes/session-list-element-not-started.html" %}

            {% set session_list_emement_title = "Week 5: Name of session/lesson/week" %}
            {% include "includes/session-list-element-not-started.html" %}

            {% set session_list_emement_title = "Week 6: Name of session/lesson/week" %}
            {% include "includes/session-list-element-not-started.html" %}
          </ul>
        </li>

        <h5 class="app-task-list__section">
          Upcoming Training: Name of training session
        </h5>
        <p>Date of training session</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p><a href="#">Training session link</a></p>
        
      </ol>

      
    </div>
  </div>

{% endblock %}