
{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}
{% include "includes/header-self-study-materials-current.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/ect-dashboard-first-half-term"
      }) }}

      <p class="govuk-!-margin-bottom-2">Module 1: How can you create an effective learning environment?</p>

      <h2 class="govuk-heading-l">
      Addressing persistent and challenging behaviour
      </h2>

      <p>
        This session will take approximately <strong>50 minutes</strong> to complete.
      </p>

      <!-- Session Overview -->

      <h3 class="govuk-heading-m">
        Session overview
      </h3>

      <p>As we saw in the last session, when a pupil is off-task or causing low-level disruption, you should try and correct this using one of the least invasive techniques. However, if a pupil keeps exhibiting disruptive behaviours, or if their behaviour is more challenging or severe, it is likely you will need to address this by issuing a consequence or sanction.</p>

      <p>To support you to do this, in this session you will explore:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Why are consequences or sanctions important?</li>
        <li>How to issue consequences or sanctions effectively</li>
        <li>Consistent</li>
        <li>Depersonalised </li>
        <li>Deferred</li>
        <li>Identifying the appropriate consequences or sanctions</li>
      </ul>

        <!-- Why are consequences important -->

        <h3 class="govuk-heading-m">
          Why are consequences or sanctions important?
        </h3>

        <p>A consequence or sanction is used to reinforce the behavioural expectations that you set in your classroom and communicate shared values that improve both classroom and school culture. Consequences should be used to educate pupils about which behaviours are and are not appropriate and should help them to learn that if they choose to be disruptive, they choose to face the consequences</p>

        <p>Different schools may approach consequences in different ways and often have a behaviour policy which outlines this. For example, some might have a policy that states teachers should give two warnings to a pupil before issuing a consequence.</p>

        <p>If there isn’t a system in place in your school, you will need to decide your own system and be consistent with it to ensure you create a predictable environment for pupils where the behavioural expectations are clear.</p>

        <p>Because schools vary in their approach to behaviour management, we will focus here on how to issue consequences effectively rather than what type of consequence to issue.</p>


        <!-- How to issue consequences effectively -->

        <h3 class="govuk-heading-m">
          How to issue consequences effectively
        </h3>

        <p>When issuing consequences, it is important to ensure disruption to learning is minimised and you try to maintain pupil-teacher relationships. Some ways you could do this is to ensure your consequences are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Consistent</li>
          <li>Depersonalised</li>
          <li>Deferred</li>
        </ul>

        <p>In your next mentor meeting, you will have the opportunity to discuss your school’s behaviour policy and how you can effectively employ consequences in line with it.</p>

        <!-- Consistent -->
        <h4 class="govuk-heading-s">
          Consistent
        </h4>

        <p>It is important that you are consistent with the consequences you issue. For example, if you have decided that pupils talking when you are talking is something you won’t tolerate and will correct (and rightly so), then you must pick up on this behaviour every time and be consistent in how you address it. By being consistent, you help to make your pupils’ learning environment predictable and secure, which benefits all pupils but is particularly valuable for pupils with special educational needs.</p>

       <p><strong>Issuing consequences consistently.</strong> As soon as you ignore or respond differently to a negative behaviour, pupils will be unclear about your expectations. For example, if a negative behaviour is ignored, pupils are more likely to exhibit this behaviour thereafter because they have learnt they can get away with it or that you deem it acceptable because you have allowed it to happen.</p>

       <p><strong>Issuing consequences consistently.</strong> Issuing consequences consistently is important but it is equally important that you follow through with them. For example, if you have issued a consequence to a pupil such as missing their break time, then it’s vital that they do. If they don’t (maybe because you forget or because they don’t show up) they will learn that the consequences that you issue are actually empty threats and are meaningless.</p>

       <p>Any consequence you issue must be delivered consistently.</p>

       <div style="background-color:#EDF4FC; border-radius: 5px;">
         <div style="margin: 20px 20px 20px 20px; padding: 20px 20px;">
           <h4 class="govuk-heading-s">
             Watch the video
           </h4>

           <p>Listen to Tom Bennett discuss this in more detail and make notes on the following questions:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>Why is consistency important?</li>
             <li>Why is it important to be consistent with the whole school community?</li>
             <li>How can you ensure you demonstrate consistency in your behavioural expectations?</li>
             </ul>
        </div>
      </div>

      <iframe width="630" height="381"
        src="https://www.youtube.com/embed/eXlJz11L-hI"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
      </iframe>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Video Transcript
            </span>
          </summary>
            <div class="govuk-details__text">
              Video transcript would go here
            </div>
        </details>

        <!-- Depersonalised -->
        <h4 class="govuk-heading-s">
          Depersonalised
        </h4>

        <p>As a teacher, you are a key role model, who can influence the attitudes, values and behaviours of your pupils. Therefore, when issuing consequences, it’s important you focus on the behaviour itself – and not on the pupil. This has several benefits:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>It is least intrusive as it refocuses the learning quickly by naming the negative behaviour and therefore encouraging the pupil to correct this</li>
          <li>It helps to maintain positive relationships with your pupils and establish a supportive and inclusive learning environment because you are labelling the behaviour as negative rather than the pupil themselves</li>
          <li>It gives the opportunity to model courteous behaviour that you would expect from pupils by demonstrating how to speak to individuals in a respectful way</li>
          </ul>


       <p><strong>How can you ensure your consequences are depersonalised?</strong> The language you use will support you to do this as demonstrated in the non-example and example below.</p>

       <div style="background-color:#F3F2F1;">
       <div class="govuk-inset-text">
         <p><strong>Non-Example</strong></p>
         <p>“James, you’re talking, I’m moving your name down. Look this way like I know you can. Thanks.”</p>

         <p>This labels the negative behaviour (talking) not the pupil, and gives them a solution for how to get back on track. It is also much more positive. Below are the key features that make this example successful:</p>

         <ul class="govuk-list govuk-list--bullet">
           <li>Names the pupil so there is no uncertainty around who the teacher is addressing (James)</li>
           <li>Identifies the negative behaviour so the pupil knows why they are receiving a consequence (you’re talking)</li>
           <li>States the consequence (I’m moving your name down)</li>
           <li>Ends positively and assumes respectful cooperation (Look this way like I know you can. Thanks)</li>
          </ul>
          </DIV>
      </div>

      <div style="background-color:#F3F2F1;">
      <div class="govuk-inset-text">
        <p><strong>Example</strong></p>
        <p>“You just can’t listen, can you? Move your card down.”</p>

        <p>This labels the pupil, not their behaviour. This may have a negative impact on the pupil’s self-esteem and may make them more likely to think they can’t achieve and thus ‘give-up’. It may also be damaging to your relationship with this pupil as it doesn’t help to create a respectful and trusting learning environment and doesn’t take the pupil’s feelings into consideration.</p>
     </div>
     </div>

     <h3 class="govuk-heading-m" id="check-your-understanding">
       Check your understanding - to decide whether to keep in
     </h3>
     <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     </p>

     {{ govukButton({
       text: "Take quiz",
       href: "/ect-self-study-quiz"
     }) }}





    <div style="background-color:#EDF4FC; border-radius: 5px;">
      <div style="margin: 20px 20px 20px 20px; padding: 20px 20px;">
        <h3 class="govuk-heading-m">
          Reflection
        </h3>

        <p>Think of a time when you have issued a consequence to a pupil and consider the following questions. Record your reflection in your notepad.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>How did you issue the consequence?</li>
            <li>What impact did this have on the pupil’s and their peers’ learning</li>
            <li>Thinking about what helps to make delivering consequences effective (consistent, depersonalised, deferred), what might you do differently next time and why?</li>
          </ul>

     </div>
   </div>


      <h3 class="govuk-heading-m">
        That's the end of session one.
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>

      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        items: [
          {
            value: "",
            text: "I feel confident that I've read and understood session one"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Complete session",
        href: "/ect-dashboard-first-half-term-updated"
      }) }}

    </div>





{% endblock %}
