
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}
{% include "includes/header-home-current-self-study.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <br>

      <ol class="app-task-list">
        <li>
          <h1 class="govuk-heading-xl">
            First year of induction
          </h1>
          <p>
            Here are the study materials for the topics you’ll cover during your 2-year induction. You’ll do one topic a term, broken down into sessions taking between 30 minutes and 1 hour 30 minutes to complete.
          </p>
          <h2 class="govuk-heading-l">
            Autumn term
          </h2>

        </li>
      </ol>

      <ol class="app-task-list">
        <li>
          <h3 class="govuk-heading-m">
            First half term - How do pupils learn?
          </h3>
          <p>
            During your first half term as an early career teacher you’ll focus on how pupils learn effectively and how this can positively impact your teaching.
          </p>

          <p>
            <a href="">
              What you will learn with video introduction
            </a>
          </p>

          <p><strong>Topic materials</strong></p>

          <ul class="app-task-list__items">
            {% set session_list_emement_title = "The working and long-term memory (55 mins)" %}
            {% include "includes/session-list-element-complete.html" %}

            {% set session_list_emement_title = "Considering how to introduce new knowledge to pupils (60 mins)" %}
            {% include "includes/session-list-element-complete.html" %}

            {% set session_list_emement_title = "Using worked and partially completed examples (45 mins)" %}
            {% include "includes/session-list-element-in-progress.html" %}

            {% set session_list_emement_title = "Part 1- Helping pupils remember (25 mins)" %}
            {% include "includes/session-list-element-not-started.html" %}

            {% set session_list_emement_title = "Part 2- Helping pupils remember (55 mins)" %}
            {% include "includes/session-list-element-not-started.html" %}

            {% set session_list_emement_title = "Introduction to metacognition (15 minutes)" %}
            {% include "includes/session-list-element-not-started.html" %}


          </ul>
        </li>
        </ol>

        <ol class="app-task-list">
          <li>
            <h3 class="govuk-heading-m">
              Second half term - What makes classroom practice effective?

            </h3>
            <p>
              During this half term you’ll develop your classroom practice skills and look at why curriculum knowledge is crucial to effective teaching.

            </p>

            <p>
              <a href="">
                What you will learn with video introduction
              </a>
            </p>

            <p><strong>Topic materials</strong></p>

            <ul class="app-task-list__items">
              {% set session_list_emement_title = "The working and long-term memory (55 mins)" %}
              {% include "includes/session-list-element-complete.html" %}

              {% set session_list_emement_title = "Considering how to introduce new knowledge to pupils (60 mins)" %}
              {% include "includes/session-list-element-complete.html" %}

              {% set session_list_emement_title = "Using worked and partially completed examples (45 mins)" %}
              {% include "includes/session-list-element-in-progress.html" %}

              {% set session_list_emement_title = "Part 1 - Helping pupils remember (25 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Part 2 - Helping pupils remember (55 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Introduction to metacognition (15 minutes)" %}
              {% include "includes/session-list-element-not-started.html" %}


            </ul>
          </li>
          </ol>


        <ol class="app-task-list">
          <li>
            <h2 class="govuk-heading-l">
              Spring term
            </h2>
            <h3 class="govuk-heading-m">
              Third half term - How can you create an effective learning environment?
            </h3>
            <p>
            During this half term you’ll explore what effective learning environments look like and strategies you can use to achieve them.
            </p>

            <p>
              <a href="">
                What you will learn with video introduction
              </a>
            </p>

            <p><strong>Topic materials</strong></p>


            <ul class="app-task-list__items">

              {% set session_list_emement_title = "Establishing effective routines (50 minutes)" %}
              {% include "includes/session-list-element-complete.html" %}

              {% set session_list_emement_title = "Creating a positive and respectful classroom environment (30 minutes)" %}
              {% include "includes/session-list-element-complete.html" %}

              {% set session_list_emement_title = "Addressing low-level behaviour (40 minutes)" %}
              {% include "includes/session-list-element-complete.html" %}

              {% set session_list_emement_title = "Addressing persistent and challenging behaviour (50 minutes)" %}
              {% include "includes/session-list-element-in-progress.html" %}

              {% set session_list_emement_title = "Developing pupils’ intrinsic motivation (40 minutes)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Holding high expectations and maintaining engagement (50 minutes)" %}
              {% include "includes/session-list-element-not-started.html" %}
            </ul>
          </li>
        </ol>

        <ol class="app-task-list">
          <li>
            <h3 class="govuk-heading-m">
              Fourth half term - How can you use assessment and feedback to greatest effect?
            </h3>
            <p>
            During this half term you’ll look at ways to enhance the methods you use to assess pupils and give them feedback.
            </p>

            <p>
              <a href="">
                What you will learn with video introduction
              </a>
            </p>

            <p><strong>Topic materials</strong></p>

            <ul class="app-task-list__items">
              {% set session_list_emement_title = " What makes assessment effective? (55 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Planning for effective assessment (60 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Monitoring misconceptions (45 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Part 1 - Making feedback purposeful and manageable (25 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Part 2 - Making feedback purposeful and manageable (55 mins)" %}
              {% include "includes/session-list-element-not-started.html" %}

              {% set session_list_emement_title = "Summative assessment (15 minutes)" %}
              {% include "includes/session-list-element-not-started.html" %}


            </ul>
          </li>
          </ol>

          <ol class="app-task-list">
            <li>
              <h2 class="govuk-heading-l">
                Summer
              </h2>
              <h3 class="govuk-heading-m">
                Fifth half term - How can you support all pupils to succeed?
              </h3>
              <p>
              During this half term you will find out how you can help all pupils thrive, and why this is so important.

              </p>

              <p>
                <a href="">
                  What you will learn with video introduction
                </a>
              </p>

              <p><strong>Topic materials</strong></p>

              <ul class="app-task-list__items">

                {% set session_list_emement_title = "Supporting all pupils to access the curriculum – developing high-quality oral language (50 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Supporting all pupils to access the curriculum – developing reading and writing (30 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Further developing prior knowledge (40 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Providing additional scaffolds (50 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "The SEND code of practice (40 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Teaching pupils who require a greater level of support (50 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}
              </ul>
            </li>
          </ol>

          <ol class="app-task-list">
            <li>
              <h3 class="govuk-heading-m">
                Sixth half term - How can you plan a coherent curriculum?
              </h3>
              <p>
              During the final half term of your induction you will learn how to design carefully sequenced and clear schemes of work.

              </p>

              <p>
                <a href="">
                  What you will learn with video introduction
                </a>
              </p>

              <p><strong>Topic materials</strong></p>

              <ul class="app-task-list__items">
                {% set session_list_emement_title = "What is the purpose of a curriculum? (55 mins)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Identifying concepts, knowledge and skills (60 mins)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Sequencing teaching and learning (45 mins)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Part 1 - Helping pupils master important concepts, knowledge and skills (25 mins)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Part 2 - Helping pupils master important concepts, knowledge and skills (55 mins)" %}
                {% include "includes/session-list-element-not-started.html" %}

                {% set session_list_emement_title = "Supporting pupils to build increasingly complex mental models (15 minutes)" %}
                {% include "includes/session-list-element-not-started.html" %}


              </ul>
            </li>
            </ol>


            <ol class="app-task-list">
              <li>
                <h1 class="govuk-heading-xl">
                  Second year of induction
                </h1>
                <h2 class="govuk-heading-l">
                  Autumn term
                </h2>
                <h3 class="govuk-heading-m">
                  First half term -  Helping pupils to journey from extrinsic to intrinsic motivation in your subject or phase
                </h3>
                <p>
                (content to update)
                </p>

                <p><strong>Topic materials</strong></p>


                <ul class="app-task-list__items">

                  {% set session_list_emement_title = "Developing pupils’ intrinsic motivation (55 mins)" %}
                  {% include "includes/session-list-element-cannot-start.html" %}

                  {% set session_list_emement_title = "Further developing prior knowledge (60 mins)" %}
                  {% include "includes/session-list-element-cannot-start.html" %}

                  {% set session_list_emement_title = "Providing additional scaffolds (45 mins)" %}
                  {% include "includes/session-list-element-cannot-start.html" %}

                </ul>
              </li>
            </ol>

            <ol class="app-task-list">
              <li>
                <h3 class="govuk-heading-m">
                  Second half term - Breaking materials into small steps in your subject or phase.
                </h3>
                <p>
                  (content to update).
                </p>

                <p><strong>Topic materials</strong></p>

                <ul class="app-task-list__items">
                  {% set session_list_emement_title = "Considering how to introduce new knowledge to pupils  (55 mins)" %}
                  {% include "includes/session-list-element-cannot-start.html" %}

                </ul>
              </li>
              </ol>


              <ol class="app-task-list">
                <li>
                  <h2 class="govuk-heading-l">
                    Spring term
                  </h2>
                  <h3 class="govuk-heading-m">
                    Third half term - Using meaningful and memorable explanations in your subject or phase
                  </h3>
                  <p>
                    (content to update)
                  </p>


                  <p><strong>Topic materials</strong></p>




                  <ul class="app-task-list__items">

                    {% set session_list_emement_title = "Considering how to introduce new knowledge to pupils (55 mins)" %}
                    {% include "includes/session-list-element-cannot-start.html" %}

                    {% set session_list_emement_title = "Explanations and modelling (60 mins)" %}
                    {% include "includes/session-list-element-cannot-start.html" %}
                  </ul>
                </li>
              </ol>

              <ol class="app-task-list">
                <li>
                  <h3 class="govuk-heading-m">
                    Fouth half term - Using meaningful and memorable explanations in your subject or phase
                  </h3>
                  <p>
                    (content to update)
                  </p>


                  <p><strong>Topic materials</strong></p>
                  <ul class="app-task-list__items">
                    {% set session_list_emement_title = "Planning for effective assessment (55 mins)" %}
                    {% include "includes/session-list-element-cannot-start.html" %}

                    {% set session_list_emement_title = " Monitoring misconceptions (60 mins)" %}
                    {% include "includes/session-list-element-cannot-start.html" %}


                  </ul>
                </li>
                </ol>

                <ol class="app-task-list">
                  <li>
                    <h2 class="govuk-heading-l">
                      Summer
                    </h2>
                    <h3 class="govuk-heading-m">
                      Fifth half term - Developing literacy skills in your subject or phase
                    </h3>
                    <p>
                      (content to update)
                    </p>
                    <p><strong>Topic materials</strong></p>

                    <ul class="app-task-list__items">

                      {% set session_list_emement_title = "Supporting all pupils to access the curriculum – developing reading and writing (55 mins)" %}
                      {% include "includes/session-list-element-cannot-start.html" %}
                    </ul>
                  </li>
                </ol>

                <ol class="app-task-list">
                  <li>
                    <h3 class="govuk-heading-m">
                      Sixth half term - Teaching key concepts through a range of powerful analogies, illustrations and demonstrations within a subject area
                    </h3>
                    <p>
                      (content to update)
                    </p>
                    <ul class="app-task-list__items">
                      {% set session_list_emement_title = "Considering how to introduce new knowledge to pupils (55 mins)" %}
                      {% include "includes/session-list-element-cannot-start.html" %}

                      {% set session_list_emement_title = "Identify concepts, knowledge and skills  (60 mins)" %}
                      {% include "includes/session-list-element-cannot-start.html" %}

                      {% set session_list_emement_title = "Helping pupils master important concepts, knowledge and skills (45 mins)" %}
                      {% include "includes/session-list-element-cannot-start.html" %}
                  </ul>
                  </li>
                  </ol>

    </div>
  </div>

{% endblock %}
