
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Email subject: Sign in to your ‘Training and support for new teachers’ account</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Hi Joe,</p>

<p>Congratulations on becoming a teacher. </p>

<p>Teachers who complete their Initial Teacher Training from 2021 onwards will now do a 2-year induction once they start their first teaching role.</p>

<p>This is to help teachers get the best possible start to their careers, enhancing their skills so they have the tools they need to be successful.
</p>

<p>At the end of their induction teachers will have their performance assessed to ensure they are meeting the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">Teachers’ Standards</a>.
</p>

<p>The training is broken down into weekly topics that teachers can access   <a href="/ect-dashboard-first-half-term">online</a>. The themes they cover are closely related to those in the Teachers’s Standards, so there’ll be no nasty surprises when they are assessed. </p>

<p>Teachers will be supported throughout by a mentor, and will also be encouraged to join online group sessions, webinars and ‘buddy’ programmes with other new teachers.</p>

    </div>
  </div>

{% endblock %}
