
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Demo Email</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Email subject: Sign in to your ‘Training and support for new teachers’ account</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Hi Joe,</p>

<p>Congratulations on starting your first role as a qualified teacher.</p>

<p>
To help you get the best possible start to your career, your school has enrolled you on a 2-year induction programme.
</p>

<p><a href="/signin">Sign in to your account</a></p>

<p>The programme gives you the opportunity to enhance your skills so you have all the tools you need to thrive in your new role. </p>

<p>
  At the end of your induction you’ll have your performance assessed to ensure you’re meeting the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">Teachers’ Standards</a>.
</p>

<p>The training is broken down into weekly topics you can access online. The themes you cover are closely related to those in the Teachers’s Standards, so there’ll be no nasty surprises when they are assessed.</p>

<p>We don’t want your induction training to impinge on your personal life, so you’ll spend 10% of your working week away from the classroom in the first year, and 5% in the second year.</p>

<p>You’ll be supported throughout by a mentor, and will also be encouraged to join online group sessions, webinars and ‘buddy’ programmes with other new teachers. </p>

<p>We wish you the best of luck with your teaching career,</p>

<p><strong>The Training and support for new teachers team</strong></p>


    </div>
  </div>

{% endblock %}
