
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

      <h1 class="govuk-heading-xl">Training and support for new teachers</h1>

<p>The one-year newly qualified teacher (NQT) induction programme for teachers in England has been replaced by an improved 2-year scheme. </p>

<p>It means teachers will get the best possible start to their careers after completing their initial teacher training (ITT).
</p>
<p>The Department for Education has worked with teachers, school leaders, academics and education experts to develop <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/913646/Early-Career_Framework.pdf">structured training for the programme called the early career framework (ECF)</a>
</p>
<p>A range of free online training materials are available for teachers, mentors and school staff who run induction programmes.
</p>
<p>At the end of their induction teachers will have their performance assessed to ensure they are meeting the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">Teachers’ Standards</a>.
</p>
<p>Topics teachers will cover during their induction are closely aligned to the Teachers’ Standards. They include:

  <ul class="govuk-list govuk-list--bullet">
    <li>
      setting high expectations
    </li>
    <li>
      helping pupils progress
    </li>
    <li>demonstrating good subject and curriculum knowledge
    </li>
    <li>planning and teaching well-structured lessons
    </li>
    <li>adapting to the different needs of pupils
    </li>
    <li>making accurate and productive use of assessments
    </li>
    <li>managing behaviour in the classroom
    </li>
    <li>developing professional skills such as building relationships and communicating effectively
    </li>
  </ul>

  <h2 class="govuk-heading-l">How teachers will do their training</h2>

<p>Teachers will generally cover one or 2 topics a term. The topics will be broken down into manageable online sessions that last between 30 and 90 minutes.
</p>

<p>There will also be time for one to one sessions with mentors, as well as online group sessions, webinars and ‘buddy’ programmes with other new teachers.
</p>

<p>In total, teachers and their mentors will need to spend 10% of their working week away from the classroom in the first year of induction and 5% in the second year.
</p>

<p>The DfE will pay schools for any extra staff needed to cover for this loss of teaching time. </p>

<h2 class="govuk-heading-l">How teachers will do their training</h2>

<p>Schools are entitled to DfE-funded training for their induction teachers and mentors.</p>
<p><a href="#">Find a training provider</a></p>
<p><a href="#">Free online materials</a> designed by education experts are also available.</p>
<p>Alternatively, schools can design and deliver their own induction programme based on the ECF.</p>


<p><a href="/index">Back to landing page</a></p>


    </div>
  </div>

{% endblock %}
