
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">
        Early Career Framework
      </h1>

      <h3 class="govuk-heading-m">Iteration 2</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/email">Scenario 1</a>
        </li>
        <li>
          <a href="/signin2">Scenario 2</a>
        </li>
        </ul>

        <h3 class="govuk-heading-m">Iteration 3</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/it3/home">Home</a>
          </li>
          <li>
            <a href="/it3/email">Email</a>
          </li>

          </ul>

          <h3 class="govuk-heading-m">Iteration 4</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/it4/home">Straight to home page</a>
            </li>
            <li>
              <a href="/it4/email">Flow including email and sign in</a>
            </li>
            </ul>

            <h3 class="govuk-heading-m">Iteration 5</h3>
            <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/email-rails">Email to rails app</a>
            </li>
            </ul>


          <h3 class="govuk-heading-m">Devs</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/dev/email">MVS flow</a>
            </li>

            </ul>

    </div>
  </div>

{% endblock %}
