
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">
        Early Career Framework
      </h1>

      <h2 class="govuk-heading-l">Iteration 2</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/email">Scenario 1</a>
        </li>
        <li>
          <a href="/signin2">Scenario 2</a>
        </li>
        </ul>

        <h2 class="govuk-heading-l">Iteration 3</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/it3/home">Scenario 1</a>
          </li>

          </ul>

    </div>
  </div>

{% endblock %}
