
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">
        Engage and Learn prototype (ECTS and NQT+1)
      </h1>

      <h2 class="govuk-heading-l">
        ECTs
      </h2>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Iteration 2</h3>
      <ul class="govuk-list">
        <li>
          <a href="/email">Scenario 1</a>
        </li>
        <li>
          <a href="/signin2">Scenario 2</a>
        </li>
        </ul>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Iteration 3</h3>
        <ul class="govuk-list">
          <li>
            <a href="/it3/home">Home</a>
          </li>
          <li>
            <a href="/it3/email">Email</a>
          </li>

          </ul>

          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Iteration 4</h3>
          <ul class="govuk-list">
            <li>
              <a href="/it4/home">Straight to home page</a>
            </li>
            <li>
              <a href="/it4/email">Flow including email and sign in</a>
            </li>
            </ul>

            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Iteration 5</h3>
            <ul class="govuk-list">
            <li>
              <a href="/email-rails">Email to rails app</a>
            </li>
            </ul>

            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Iteration 6 (first round of private beta)</h3>
            <ul class="govuk-list">
            <li>
              <a href="/it6/email">Flow including email and sign in</a>
            </li>
            </ul>




          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Devs and delivery</h3>
          <ul class="govuk-list">
            <li>
              <a href="/dev/email">MVS flow (amended since beta)</a>
            </li>
            <li>
              <a href="/cip-change/sign-in">CIP change alert message</a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-l govuk-!-margin-top-8">
            NQT+1 flow (school leaders)
          </h2>



          <h3 class="govuk-heading-m">
            <a href="/nqt1/it1/email">Iteration 1</a>
          </h3>

          <h3 class="govuk-heading-m">
            <a href="/nqt1/it2/context">Iteration 2</a>
          </h3>

          <h3 class="govuk-heading-m">
            <a href="/nqt1/it3/email">Iteration 3</a>
          </h3>

          <p>Including error messages</p>

          <h2 class="govuk-heading-l govuk-!-margin-top-8">
            NQT+1 flow (teachers)
          </h2>


            <h3 class="govuk-heading-m">
              <a href="/nqt1-teachers/it1/email">Iteration 1</a>
            </h3>

            <p>Link to email, to then be linked to review app for testing</p>

            <h3 class="govuk-heading-m">
              Iteration 2
            </h3>

            <ul class="govuk-list">
              <li>
                <a href="/nqt1-teachers/it2/email">Onboarding</a>
              </li>
              <li>
                <a href="/nqt1-teachers/it2/module-list">Module page (banner option 1)</a>
              </li>
            </ul>








    </div>
  </div>

{% endblock %}
