
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">
        Early Career Framework
      </h1>

      <h3 class="govuk-heading-m">
        <a href="/table-options/one-columns">One column</a>
      </h3>

      <h3 class="govuk-heading-m">
        <a href="/table-options/two-columns">Two columns</a>
      </h3>

      <h3 class="govuk-heading-m">
        <a href="/table-options/three-columns">three columns</a>
      </h3>



      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/dev/email">Style 1</a> If there is more than two columns and only an h4 can be used
        </li>
        <li>
          <a href="/table-options">table options</a>
        </li>


    </div>
  </div>

{% endblock %}
