{% extends "layout_nqt.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h3 class="govuk-heading-m">Demo Email</h3>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Email subject: Extra support for NQTs who had their induction disrupted by the pandemic</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Do you have NQTs from the 2020 to 2021 cohort who missed out on having a normal induction because of the pandemic?</p>
    <p>We are offering 2 things to help them during the next academic year:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>free online resources NQTs can use to develop their skills and knowledge </li>
      <li>a one-off payment to go towards giving NQTs extra development time </li>
    </ul>

    <h3 class="govuk-heading-m">Who is eligible</h3>

    <p>This offer is for state school teachers who either completed their induction in the 2020 to 2021 academic year or have not yet completed their induction.</p>

    <h3 class="govuk-heading-m">Online resources to help fill knowledge and skills gaps during the next academic year</h3>

<p> We are offering NQTs access throughout their second year of teaching to the same resources early career teachers (ECTs) use on the new 2-year induction programme.</p>

<p>These materials feature a wide range of theory and practical classroom techniques aligned to the teachers’ standards.</p> 

<p>NQTs will only be able to use these resources for 3 terms. To get the best out of them they should:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>focus on development areas disrupted by the pandemic. There’s no need to try covering all the material</li>
    <li>dip in and out of them rather than following the prescribed week by week structure</li> 
</ul>

<p>Note that mentor meetings and associated practical exercises featured in the resources only apply to ECTs doing the 2-year programme.</p>

    <div class="govuk-inset-text">
      <p>If you would like your NQTs to use these resources during their second year of teaching, you need to let us know which provider materials you want to use and the teachers' details, using this link</p>

      <p><a href="/nqt1/it3a/start2">http://support-for-early-career-teachers.education.gov.uk/access-for-nqts</a></p>
    </div>

    <p>Do not share this link, it will only work for your school.</p>
    <br>

    <h3 class="govuk-heading-m">Further guidance</h3>

    <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">How payments will work</a></li>
        <li><a href="#">The education recovery package</a></li>
    </ul>

<br>



    <p>Thanks,</p>

    <p><strong>Teacher Continuing Professional Development</strong><br>
      Department for Education</p>

    <hr class="govuk-section-break govuk-section-break--m">


    <p><a href="/nqt1/it3/signed-up">if school has already used link</a>



  </div>
</div>

{% endblock %}
