
{% extends "layout_nqt.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">

      <h1 class="govuk-heading-xl ">
        Access support materials for NQTs
      </h1>

      <p>Use this service, if you would like your NQTs to access these resources during their second year of teaching</p>

      <p>You need to choose which provider material you would like to use and let us know the teachers’ details.</p>

      <h3 class="govuk-heading-m ">
        Who is eligible
      </h3>

      <p>This offer is for state school teachers who either completed their induction in the 2020 to 2021 academic year or have not yet completed their induction.</p>


  <form action="/nqt1/it3/choose" method="post" novalidate>

    <a href="/nqt1/it3/choose" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg></a>



<h3 class="govuk-heading-m">Additional time to invest in teacher development</h3>

<p>Find out more about the <a href="#">one-off payment to go towards giving NQTs extra development time.</a></p>


    </div>


  </div>
{% endblock %}
